[2017-04-17 16:52] etorreborre commented on #556
Can you please try `3.8.9-20170417165056-719dc83` (should be available in a few minutes)?  I used the same technique than the one used for [scalacheck](https://github.com/rickynils/scalacheck/issues/27).

[2017-04-17 18:08] nathankleyn commented on #556
@etorreborre No worries, can do - and many thanks for the quick reply! Still waiting for it to appear in Maven Central right now, no sign just yet.

[2017-04-17 20:09] etorreborre commented on #556
Something was interrupted in the publishing. I'm now trying to publish `3.8.9-20170417195349-7b7973e` but sonatype is really slow tonight.

[2017-04-17 21:01] etorreborre commented on #556
Ok [done](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.12/3.8.9-20170417195349-7b7973e/)

[2017-04-18 08:05] etorreborre commented on #556
I'm closing this issue as it should be ok now. Please reopen if necessary.

[2017-04-18 08:05] #556 closed

[2017-04-18 08:52] nathankleyn commented on #556
Hey @etorreborre! I can confirm it seems to fix the main issues on my end. Thanks so much for the fix! 👍

[2017-04-18 13:07] Shadowfiend commented on #556
Haven't confirmed it on our end yet but I'm hopeful. Appreciate the effort!

[2017-04-18 14:14] asflierl opened #570 "Matcher[String] has compilation issues with "should""
[code]

fails to compile (in Scala 2.12.1):
[code]

If I substitute `should` with `must`, the spec compiles just fine.

[2017-04-18 19:34] etorreborre commented on #570
Thanks for noticing this. In principle you could mix-in the `NoBlockDsl` trait to deactivate the `should` notation for blocks but this won't work. I need to reorganise a bit the implicits to make this happen.

[2017-04-18 19:36] etorreborre commented on #570
Also another workaround for that specific case of matching a string with `should`, you can force the correct implicit to compile with:
[code]

[2017-04-19 08:22] asflierl commented on #570
Thanks for suggesting the workaround! I can work with that for now (or just get over it and work with "must" :D ).

[2017-04-27 13:58] cchantep commented on #465
Hi, we have prepared a branch : https://github.com/cchantep/specs2/tree/opendays-201704

There is some issue about forking test, if anyone have idea to fix that.

[2017-04-27 16:30] etorreborre commented on #465
Hi, I also started working on the subject:

 1. removed scalaz-stream: done
 2. removing scalaz altogether: [in progress](https://github.com/etorreborre/specs2/tree/specs2-fp-lib)
 3. creating a scala.js build: [first attempt](https://github.com/etorreborre/specs2/tree/specs2-js)

When working on 3. I realized that the execution model of specs2 was really getting in the way because we are awaiting

[2017-05-02 02:16] Shadowfiend commented on #556
Yep, confirmed that this fixed the classloader issues we were having! Thanks!

[2017-05-03 20:44] SethTisue opened #573 "publish for 2.13.0-M1"
on the one hand it's quite early in the 2.13 cycle, but on the other hand specs2 is an enabler for many other projects

https://github.com/scala/make-release-notes/blob/2.13.x/projects-2.13.md shows that some dependencies are available including scalaz. is there anyone in your dependency tree we should gently nudge to get their 2.13 ball rolling, so specs2 can eventually publish?

[2017-05-04 06:33] etorreborre commented on #573
There is shapeless, scalacheck and cats.

[2017-05-04 17:26] SethTisue commented on #573
Shapeless and ScalaCheck have published for 2.13.0-M1.

for cats, I opened https://github.com/typelevel/cats/issues/1648

[2017-05-04 19:43] etorreborre commented on #573
@SethTisue I also need  `org.spire-math#kind-projector_2.13.0-M1;0.9.3` (see #574 ).

[2017-05-04 19:54] SethTisue commented on #573
that's https://github.com/non/kind-projector/issues/50 which I have now added to the bottom of https://github.com/scala/make-release-notes/blob/2.13.x/projects-2.13.md

[2017-05-10 15:44] abdelhakimMouslih opened #575 "possible bug in org.specs2.Specification.is function."
Hello spec2 team,

[Spec2Test.txt](https://github.com/etorreborre/specs2/files/990335/Spec2Test.txt)
I encountered the behavior described bellow, and i'm not sure whether it is a bug or i'm misusing the is function declaration.
I attached my source file with this issue just in case it's a problem with the file encoding
This is the class i used to reproduce the behavior in my setup (my setup inform

[2017-05-10 20:56] etorreborre commented on #575
Hi @abdelhakimMouslih. The behaviour you are seeing is expected but might not be obvious at first glance. Maybe it is easier to understand what happens if you write you spec like this:
[code]
Then the output is
[code]
What happens is that `example2` has a multi-line description. If you want some lines to be treated as pure text you need to use a different indentation:
[code]
Which prints
[code]
Or

[2017-05-11 07:33] abdelhakimMouslih commented on #575
Hello @etorreborre
Thank you for your kind reply.

[2017-05-11 07:35] etorreborre commented on #575
I'm closing this for now, please ask again if you have other questions (you can also ask on the [gitter channel](https://gitter.im/etorreborre/specs2?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge))

[2017-05-11 07:35] #575 closed

[2017-05-12 04:15] puffnfresh opened #576 "resource not found on classpath in 3.8.9"
Hey Eric, we've found a bug in specs2 introduced around 3.8.9

We have a resource we're trying to require and it's not being found:

[code]

The project is [Kadai](https://bitbucket.org/atlassian/kadai). You can see the full build output here:

https://bitbucket.org/atlassian/kadai/addon/pipelines/home#!/results/branch/fsalbaroli%252Fbump-dependencies/page/1

Here's the commit where we revert the

[2017-05-12 05:59] etorreborre commented on #576
It might be related to #556 (scroll to the end of the comments) where the fix I made was to set the context classloader before each execution. I will try without this fix and see if your issue disappears. If that's the case I will still have to understand what the right way to fix both issues at the same time :-).

[2017-05-12 06:26] etorreborre commented on #576
Yes I confirm that this is the problem. I'll try to find a way to fix it.

[2017-05-12 20:57] etorreborre commented on #576
This is really annoying because this bug doesn't seem to be deterministic. Now I can't reproduce it anymore :-(.

[2017-05-13 11:04] trobert opened #577 "TraversableMatchers miss a 8-arg version of contain"
See:
[code]

[2017-05-13 13:09] #577 closed

[2017-05-13 13:25] etorreborre commented on #577
This is release as `3.8.9-20170513130911-c42a6fe`.

[2017-05-18 11:36] nvartolomei opened #578 "Add anyObject to MockitoMatchers"

[2017-05-18 11:47] nvartolomei commented on #578
Actually I think, if no type tag is passed to any then it should under the hood call org.mockito.Matchers.any without any argument, so that it matches everything and not `Nothing` type.

[2017-05-18 12:50] etorreborre commented on #578
It seems to be working indeed like this:
[code]

What kind of issue did you have with the previous version?

[2017-05-18 12:54] nvartolomei commented on #578
@etorreborre can you please rephrase your question.

[2017-05-18 14:13] etorreborre commented on #578
Sure I was writing down another version of `any`, which is not requiring a `ClassTag`, and which seemed to be passing all my tests. And I was wondering what kind of issue the current version of specs2 was creating for you because your description doesn't really say. You can also hop on [gitter](https://gitter.im/etorreborre/specs2) if you want

[2017-05-18 14:58] nvartolomei commented on #578
Using specs2 with Mockito 1.*, type passed to any is ignored by Mockito's `any` matcher as noted in [code comment](https://github.com/mockito/mockito/blob/release/1.x/src/org/mockito/Matchers.java#L290).

When settings up mocks, you can add a set expectations in 2 ways and both of them have the same effect:
[code]

The problem is that if when I verify invocations, all checks bellow will pass, beca

[2017-05-19 07:55] etorreborre commented on #578
I upgraded specs2 to Mockito 2.x with:
[code]
We can not overload directly `any` without parentheses otherwise calls are ambiguous.
I will publish an interim version for you to test shortly.

[2017-05-19 09:17] etorreborre commented on #578
Can you please try `3.8.9-20170519080524-c1457d5`?

[2017-05-19 16:17] etorreborre commented on #576
I had a quick look at that again today and unfortunately I can't reproduce. I have added a command-line option to disable the use of sbt custom class loader:
[code]
I will publish a release for you to test this week-end.

[2017-05-19 16:23] etorreborre commented on #570
I am closing this issue with the provided work-around then.

[2017-05-19 16:23] #570 closed

[2017-05-20 03:26] puffnfresh commented on #576
Thanks @etorreborre!

[2017-05-22 13:26] etorreborre commented on #576
Unfortunately I did some more tests with this new option and I still get the bug, ... sometimes. I need to spend more time to understand what's shaky with sbt and class loaders.

[2017-05-22 21:39] #445 closed

[2017-05-22 21:40] etorreborre commented on #445
Better late than ever I hope this is going to work: https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2_2.12/3.8.9/specs2_2.12-3.8.9.pom.

[2017-05-22 21:42] etorreborre commented on #578
I merged those changes into the master. Please reopen if something is not working.

[2017-05-22 21:42] #578 closed

[2017-05-22 22:12] etorreborre commented on #576
@puffnfresh my fix doesn't seem to be working however I can suggest a workaround which will work regardless of the specs2 version. In `ConfigurationSpec.scala`
[code]

[2017-05-23 03:51] ittaiz commented on #445
Indeed! Thanks!
On Tue, 23 May 2017 at 0:40 Eric Torreborre <notifications@github.com>
wrote:

[2017-05-25 00:58] puffnfresh commented on #576
Thanks @etorreborre!

[2017-05-31 16:14] SethTisue commented on #573
kind-projector is available now (0.9.4)

[2017-06-01 16:15] ngbinh commented on #465
this is awesome!

[2017-06-02 11:47] etorreborre commented on #573
Hi @SethTisue thanks for the update, there's now a [specs2 version for Scala 2.13.0-M1](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.13.0-M1/3.9.0).

[2017-06-02 11:47] #573 closed

[2017-06-03 06:18] tmccombs opened #579 "specs2-cats_2.12 not found"
I tried to add a dependency on specs2_2.12 version 3.8.9.

The POM file lists specs2-cats_2.12 version 3.8.9 as a dependency, but this artifact doesn't exist on maven central. In fact I can't find any specs2-cats artifacts for scala 2.12.

[2017-06-03 06:46] etorreborre commented on #579
ok, thanks for telling me, I'll check that later today.

[2017-06-03 13:37] etorreborre commented on #579
Actually now I remember why there's no `specs2-cats` in `3.8.9`. That's because the only reason why it was there in the first place was to provide `Xor` matchers for cats `0.7.2`. But then `Xor` was removed. This leaves us with the issue of having an incorrect pom file and I think I should just remove the cats module now from the project to fix this.

[2017-06-04 02:56] tmccombs commented on #579
Sounds good. Thanks for looking at that.

[2017-06-06 06:40] etorreborre commented on #576
I am closing this for now. I will follow-up with the sbt team to try to understand what is going on with classloaders.

[2017-06-06 06:40] #576 closed

[2017-06-06 06:44] etorreborre commented on #576
sbt issue created [here](https://github.com/sbt/sbt/issues/3249).

[2017-06-06 06:51] #579 closed

[2017-06-06 06:52] etorreborre commented on #579
The correct pom file will be published with the next specs2 release (I can't modify the already published one). If this is a problem for you I will publish a `3.9.1` version. (`3.9.0` is the current one).

[2017-06-13 02:12] xuwei-k opened #580 "specs2-core_2.10 3.9.1 missing"

[2017-06-13 06:13] etorreborre commented on #580
Thanks for noticing this, I had an issue with the `2.10` build. The jars are available [here](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.10/3.9.1).

[2017-06-13 06:13] #580 closed

[2017-06-22 00:00] tomjadams opened #581 "ScalaCheck properties don't fail"
Checking ScalaCheck properties using `properties` vs. not results in different behaviour:

[code]

vs.

[code]

Results in successful tests where they should fail.

See: https://github.com/tomjadams/specs2-scalacheck-bug/blob/master/src/test/scala/example/HelloSpec.scala for a fully worked & runnable example.

Reading the user guide, I'd expect this to work, and we have about a year's worth of tes

[2017-06-22 00:01] tomjadams commented on #581
Reading the user guide, I'd expect this to work, and we have about a year's worth of tests written in this style that seem to no longer work (i.e. no longer fail when they should).

[2017-06-22 12:18] #581 closed

[2017-06-22 12:21] etorreborre commented on #581
Thanks for the reproducible case. A fix is on the way in `3.9.1-20170622122021-deb1f60`.

[2017-06-22 22:24] tomjadams commented on #581
Awesome! Thanks @etorreborre!

[2017-06-30 03:46] DanielHeath opened #582 "JsonTypeMatcherDouble is missing"
Looking in https://github.com/etorreborre/specs2/blob/master/matcher-extra/src/main/scala/org/specs2/matcher/JsonMatchers.scala I see that there are implicit conversions from int, bool, string, array and map - but not from Double or BigDecimal.

This means in specs I can assert that a value is an integer in a JSON document, but not a decimal value.

Related: https://github.com/etorreborre/specs2/i

[2017-06-30 06:01] #582 closed

[2017-06-30 06:17] DanielHeath commented on #582
Wow thanks :)

[2017-06-30 06:35] etorreborre commented on #582
New jars will be on the way today.

[2017-06-30 07:19] etorreborre commented on #582
This fix is now released as part of `3.9.1-20170630055143-1856170`.

[2017-06-30 14:49] peyerc opened #583 "JUnit Report XML names are wrong when the "exclude" testOptions argument is set"
Hi Eric. I noticed in one of our projects which is using Specs2, that the name of the test cases in the JUnit Report XML are wrongly generated, when the "exclude" testOptions argument is set. The Problem is, that the text from the first unit specification is added to the following titles of all the test cases. Without the option everything looks ok.

**JUnit XML Report generated without the option

[2017-06-30 16:04] #583 closed

[2017-06-30 16:34] etorreborre commented on #583
Thanks for reporting this issue, it is fixed in `3.9.1-20170630155617-0057b1d`.

[2017-07-03 06:50] peyerc commented on #583
Cool, now it works! Thank you very much!

[2017-07-04 06:35] etorreborre commented on #465
Finally the first spec executed with scala-js!
![image](https://user-images.githubusercontent.com/10988/27817867-84a266fe-6093-11e7-8232-f8f2483890bd.png)
There's lots of polishing and testing to be done but I hope to publish a `4.0.0-RC1` soon.

[2017-07-04 11:19] cchantep commented on #465
Very nice @etorreborre :+1

[2017-07-04 14:13] etorreborre commented on #562
Here is a much better workaround (with no additional dependency needed):
[code]

I hope this works for you.

[2017-07-04 14:13] #562 closed

[2017-07-26 22:56] iouwon opened #584 "NPE when setting expectations twice on a mockito mock using specs2 matcher that uses SeqLinesDiffable"
[simple app that demonstrates the issue](https://github.com/iouwon/spec2)

The cause seems to be in the interaction between MockMethodInterceptor.interceptAbstract (when setting expectations on the mock the argument values passed by mockito are null), the first expectation call causing the stubbed member in InvocationContainerImpl.findAnswerFor to have values meaning it is iterated over and the ma

[2017-07-28 22:44] #584 closed

[2017-07-28 22:46] etorreborre commented on #584
Thanks for reporting this. It indeed looks like Mockito can pass a null value in your special case. I protected the `HamcrestMatcherAdapter` against those null values so that we don't have to do defensive checks in the rest of specs2 matchers.

Do you need this fix to be published quickly?

[2017-07-28 23:44] iouwon commented on #584
No, we worked around it by using answer and responding based on pattern
matching on the params arg in the function you pass to it.

I sort of think when mockito detects an expectation setting call in the
mock interceptor that it shouldn't be checking to see if it has an answer
for it, maybe by passing some context thru, irrespective of the null value
method call in the specs2 matcher

On 28 July 2

[2017-08-03 09:35] jdrphillips commented on #579
Where are the new versions published? Maven central only has `3.8.9` and `2.4.17` for `specs2`

http://repo1.maven.org/maven2/org/specs2/specs2_2.12/

The documentation references Sonatype but there doesn't seem to be any `2.12` artifacts on there at all.

[2017-08-03 09:50] etorreborre commented on #579
You should depend directly on specific modules like [`specs2-core`](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.12/3.9.4/). You can find it on the [maven repo](http://repo1.maven.org/maven2/org/specs2/specs2-core_2.12/3.9.4).

There is also a aggregated `specs2` pom file but I think I need to take some manual steps to publish it.

[2017-08-03 09:58] jdrphillips commented on #579
Thanks for the explanation

[2017-08-08 01:22] kflorence opened #585 "IntelliJ: Specs2 runner and ExecutionEnv"
This issue is not related to the specs2 code base, most likely it is some sort of issue with IntelliJ, but I wanted to document it here along with a workaround and hopefully get pointed to the appropriate place to file a bug.

# The problem
When using a test class with a defined implicit `ExecutionEnv`, as denoted [here](https://etorreborre.github.io/specs2/guide/SPECS2-3.9.1/org.specs2.guide.Exec

[2017-08-09 10:33] etorreborre commented on #585
This is indeed an Intellij issue and a regression apparently because it used to work. Can you please open a ticket on [youtrack](https://youtrack.jetbrains.com/issues/SCL]?

[2017-08-12 08:37] etorreborre opened #586 "Release specs2 4.0.0"
This is a holder issue for activities related to releasing 4.0.0

[2017-08-12 08:39] etorreborre commented on #586
This is what indirectly started the work on 4.0.0

<img width="262" alt="specs2-issue-465" src="https://user-images.githubusercontent.com/10988/29239242-503023ea-7f4a-11e7-8050-b0de4e3558ad.png">

[2017-08-15 03:33] zbeckman opened #587 "Tab margins cause test logs to emit on a single line"
If you write your code with tabs for indents, as we do:
[code]
Then when specs2 runs the test, the logs are emitted on a single line:
[code]

[2017-08-15 06:22] etorreborre commented on #587
I published a fix in `3.9.4-20170815061805-0e62822`. It is pretty simple in the sense that it just replaces the tabs by 2 spaces before slicing the text into specification Fragments.

Note that you will get a better display by indenting your spec like
[code]
Even when using tabs. Because in that case `Given ...` is interpreted as a stand-alone piece of text. Otherwise when you write
[code]
The who

[2017-08-15 06:22] #587 closed

[2017-08-15 14:26] zbeckman commented on #587
Outstanding! 👍

[2017-08-17 23:40] kflorence commented on #585
@etorreborre thanks -- I will file this soon and then close this issue.

[2017-08-18 19:24] kflorence commented on #585
Filed as https://youtrack.jetbrains.com/issue/SCL-12433

[2017-08-18 19:24] #585 closed

[2017-08-18 19:33] etorreborre commented on #585
Thanks Kyle.

[2017-08-20 01:11] xuwei-k opened #589 ""TypeError: Cannot read property 'SampleTest$' of undefined" if use object with scala-js"
project/plugin.sbt

[code]

build.sbt

[code]

src/test/scala/example/SampleTest.scala

[code]

[code]

it works when change to `class` from `object`

[code]

[code]

[2017-08-20 01:23] xuwei-k opened #590 "set "-P:scalajs:mapSourceURI" option in scala-js build"
Scala-js include your local file path without this options! (e.g. `file:/Users/etorreborre/projects/specs2/specs2-fp-lib-on-js`)

(stacktrace from https://github.com/etorreborre/specs2/issues/589 )

[code]

examples
- https://github.com/scalaz/scalaz/blob/02f50d88fa9f8e8f83b99d33a3216b56137872f8/project/build.scala#L59-L63
- https://github.com/typelevel/cats/blob/68a8666ce7c84604835d8457c7c7c507d8

[2017-08-20 20:12] etorreborre commented on #590
Thanks for both the issues you opened, I will take care of that this week.

[2017-08-21 06:33] #589 closed

[2017-08-21 06:33] #590 closed

[2017-08-21 06:34] etorreborre commented on #590
Both issues available as `4.0.0-RC2` in a few minutes.

[2017-08-22 15:52] xuwei-k opened #591 "scala-native support"

[2017-08-23 05:20] etorreborre commented on #465
specs2 `4.0.0-RC2` is now available for testing with scala.js and I can finally close this issue, 1 year and a half after it was opened :-)

[2017-08-23 05:20] #465 closed

[2017-08-23 05:20] etorreborre commented on #591
I knew it. I knew someone would ask for a scala-native build next :-)

[2017-08-23 09:46] mdedetrich commented on #465
@etorreborre Congrats, can't wait for version 4 to come out!

[2017-08-23 13:44] peter-empen opened #592 "SpecificationsFinder instantiates Specs twice"
Hi Eric,
when using ```SpecificationsFinder``` some superfluous instantiations take place. Often this is transparent but sometimes it mutates to a serious issue.
This is the case when writing specs based on Akka ```TestKit``` since I need to pass an actor system to ```TestKit``` including some ports. Now, on the second instantiation, that port is bound so I inevitably get an exception.
Was it poss

[2017-08-23 13:47] etorreborre commented on #592
Is it the case with `3.9.x` and `4.0.0.x`? Which version are you using please?

[2017-08-23 13:47] etorreborre commented on #592
This is probably in both and a bug...

[2017-08-23 13:52] peter-empen commented on #592
This is the case with 3.8.9 and before.

[2017-08-23 14:17] etorreborre commented on #592
I'm sorry but I cannot reproduce with `4.0.0-RC2` and I don't think that version changed anything. Can you please test with that version and if you can reproduce, create a small github project showing the issue? Thanks.

[2017-08-23 14:38] etorreborre commented on #592
A println in the `SpecificationFinderSpec` and run example n.4

[2017-08-24 07:20] peter-empen commented on #592
Thank you. Please bear with me for further investigations.

[2017-08-26 06:52] starwander opened #595 "How to parse a variable in the given stage using GWT style?"
Hi guys,
I am new to specs2. So maybe this is a silly question.
I want to parse a string variable during given stage, but the test gives a exception "error while interpreting an action java.util.concurrent.ExecutionException: Boxed Error".
I also tried Snippets trait, but it seems no help.
Can anyone helps me out of this? Thanks a lot!
My test code looks like:
[code]

[2017-08-26 15:42] etorreborre commented on #595
Hi, could you please me which version you are using? Also since this is a concurrent exception you might want to try to add `sequential` to your specification
[code]
I am sorry I don't have much time to try to reproduce this issue right now, I'll try tomorrow.

[2017-08-26 16:07] starwander commented on #595
I'm using 3.9.2. And I have just tried sequential but still got same exception. It seems related to shapeless. Here is the full exception stack:
00:05:04.860 [DEBUG] [TestEventLogger] com.qianshui17.service.application.wechat.mp.WechatMpSignatureSpec > step.classMethod FAILED
00:05:04.860 [DEBUG] [TestEventLogger]     java.lang.ClassCastException: shapeless.HNil$ cannot be cast to shapeless.$colon

[2017-08-26 17:14] etorreborre commented on #595
I could reproduce a class cast exception with `4.0.0-RC2` and `3.9.4`. I'll have a closer look at it hopefully tomorrow because I don't there's much of a workaround you can use now.

[2017-08-27 15:56] starwander commented on #595
OK, looking forward to be solved.

[2017-08-27 18:26] etorreborre commented on #595
I found what the problem is, I should be able to provide a fix tomorrow. The issue comes from invoking a method in the interpolated string `{${goodSignature}}`.

[2017-08-28 06:04] #595 closed

[2017-08-28 06:21] etorreborre commented on #595
A fix is now available in `3.9.5`.

[2017-08-28 06:23] starwander commented on #595
Great! Thanks a lot! I'll try 3.9.5 later.
When will 3.9.5 be available on maven repository?

[2017-08-28 06:29] etorreborre commented on #595
It's on Sonatype, so it should be available very soon in the maven repository.

[2017-08-30 11:18] keirlawson opened #596 "Scaladoc link broken"
The link on the Specs2 website to the scaladoc appear to be broken, returning a 404

[2017-08-30 14:39] etorreborre commented on #596
Thanks, this is [fixed now](https://etorreborre.github.io/specs2/api/SPECS2-3.9.5/org/specs2/specification/index.html).

[2017-08-30 14:39] #596 closed

[2017-08-30 14:39] etorreborre commented on #592
Any news for this?

[2017-09-01 14:19] mttkay opened #597 "Test output broken in IntelliJ (Specs2 3.9.x)"
I just upgraded to Specs2 3.9.5, and while running tests via sbt works fine, running tests in IntelliJ (2017.2.3) only works when they pass; if there is a failure, Specs2 produces output the IDE seemingly doesn't understand:

(console output:)
[code]
The UI meanwhile keeps spinning its wheels because it doesn't seem to understand that the test has finished with a failure.

I added the following de

[2017-09-02 13:42] etorreborre commented on #597
I'm going to need a reproducible test case because it works ok for me.

If you want to investigate what's going on, maybe simply using the debugger, you can have a look at the [JavaSpecs2Notifier](https://github.com/JetBrains/intellij-scala/blob/26f8c5b659c906ac645463d67602dcb13f83a4a0/Runners/src/org/jetbrains/plugins/scala/testingSupport/specs2/JavaSpecs2Notifier.java)

[2017-09-04 09:44] mttkay commented on #597
Thanks @etorreborre -- we think we distilled it down to being a problem with matching sequences. Below is what we think is an "mcve". It appears that only tests are affected that contain `Seq`s or `List`s and only when using the equals matcher and the objects do not equal:

[code]
Here, the first test fails normally with the expected output:

[code]

whereas the second test, which should produce t

[2017-09-04 21:21] etorreborre commented on #597
Unfortunately I still can't reproduce the issue. Can you please create an issue on the Intellij tracker?

[2017-09-05 14:25] mttkay commented on #597
Filed as https://youtrack.jetbrains.com/issue/SCL-12533

@etorreborre Just to double check; does the following test output (as produced by sbt--no IJ involved here) look expected to you?

[code]
I just want to make sure the problem is really specific to IntelliJ.

Feel free to close this out here if there's nothing to be done on the Specs2 end.

[2017-09-05 20:34] etorreborre commented on #597
Yes that's the expected output. The first test uses `==` to check for equality, the second one relies on the `Diffable` typeclass for this and can "drill-in" the values to display differences.

[2017-09-07 11:15] halvorgb opened #598 "Missing version 2.5 for scala 2.12"
Hey, we're trying to upgrade to `scala 2.12`, but we aren't able to due to incompatible transitive dependencies.

We're using twitter/finatra (depends on `specs2-2.4.17`) and various wrapper libraries (poi, aws-scala, ...) that depend on `scalaz-7.2.x`.  While`specs2-{sub-project}-2.4.17` depends on `scalaz-7.1.0`.

In `scala 2.11` we hit the sweet spot by depending on `specs2-2.5`, but that versi

[2017-09-07 12:27] etorreborre commented on #598
Hi, I had a quick at it (with `0e6f61045d4c`) and I am missing a bunch of dependencies:
[code]
I don't have time right now to dive into each of them but if you could find suitable versions for each I could modify my build file and publish a specs2 2.5 for Scala 2.12

[2017-09-07 14:03] halvorgb commented on #598
* quasiquotes is not needed for `2.12` iirc
* scalaz-core and scalaz-concurrent: `7.25`
* scalacheck: `1.12.6`
* scala-parser-combinators: `1.0.6`
* paradise: `2.1.1`
* sbt-scoverage: `1.5.1`

scalaz-stream tougher, I can't find a release for scalaz 7.2 and scala 2.12, it became fs2 as far as I know? Might have to port some code to fs2 here :(

I got the project to compile in scala 2.12, but loads

[2017-09-07 14:15] halvorgb commented on #598
Hm, nevermind the `scalaz-streams` pessimism: `0.8.6a` is depends on `scalaz` `7.2.7` and is published for 2.12.

[2017-09-07 21:40] etorreborre commented on #598
Thanks, based on your branch, I publish [this](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.12/2.5/). Does that work ok for you?

[2017-09-08 10:08] halvorgb commented on #598
Yes that works for me, thank you!

[2017-09-08 10:08] #598 closed

[2017-09-08 13:37] peter-empen commented on #592
Sorry, it'll take another 10 days until I manage to get down to this.

[2017-09-26 11:34] MasseGuillaume opened #601 "Release for 2.13.0-M2"
Would it be possible to release specs2 for Scala 2.13.0-M2? Thanks!

[2017-09-26 13:14] etorreborre commented on #601
Which specs2 version do you need? The latest one in the 3.x series or 4.x?

[2017-09-26 13:29] etorreborre commented on #601
I did a quick assessment of the dependencies involved and I realize that I need
[code]

[2017-09-28 08:10] randm-ch opened #603 "Mock init fails for class with type parameter"
As described in [this question on StackOverflow](https://stackoverflow.com/questions/46448457/scala-mock-init-fails-with-cats-io-type-parameter), I had a problem with mocking my repository class that takes a type parameter.

I was confronted with the following exception:

    java.lang.ClassCastException: codegen.java.lang.Object$MockitoMock$641592186 cannot be cast to cats.effect.IO (MyRepository

[2017-09-28 12:34] #603 closed

[2017-09-28 12:35] etorreborre commented on #603
I fixed this issue on master which means this is going to go to `4.0.0`. Do you need a quick release for `3.9.5`?

[2017-09-29 15:43] thatfulvioguy opened #604 "Env injection creates one Env per spec, which is not shut down afterwards"
I'm using specs2 3.9.4 and per the guide page on [Environments](https://etorreborre.github.io/specs2/guide/SPECS2-3.9.5/org.specs2.guide.Environment.html), I tried out having my test run's Env injected into a spec by declaring a contructor parameter.

However, I thought that I'd be getting a reference to an Env that's global to my test run since that page always says "the Env object", and that it'

[2017-09-29 15:47] etorreborre commented on #604
Please add the version number.

[2017-09-29 15:55] thatfulvioguy commented on #604
Done :+1: And sorry for any confusion caused by me hitting enter too early by mistake!

[2017-09-29 16:03] etorreborre commented on #604
Do you have the option to try `4.0.0-RC5`? This issue should be fixed there. You have the option to either:

 - use `class EnvSpec1(env: Env)` and get a user env which should be shutdown when all the specs have been executed

 - use `class EnvSpec1(val env: Env) extends Specification with OwnEnv` which will give you `ownEnv` which is instantiated only for that spec. There is also a `OwnExecutionEn

[2017-10-02 08:43] randm-ch commented on #603
@etorreborre Cool! Thank you very much. It's fine by me, I can wait for the new release since there's a workaround for now :+1:

[2017-10-03 13:57] thatfulvioguy commented on #604
Upgrading to 4.0.0 works as expected. Thanks a lot!

[2017-10-03 13:57] #604 closed

[2017-10-25 14:43] alexduf commented on #556
I encountered the exact same issue when migrating to play 2.6.

When using `3.8.9-20170417195349-7b7973e` it all works, but it looks like neither `3.8.9` nor `3.9.x` has the fix. Was this published version just a one-off fix or was it intended to reach master?

[2017-10-25 19:59] etorreborre commented on #556
@alexduf can you try with `4.0.1`?

[2017-10-25 20:05] etorreborre commented on #556
You can also try to pass `useCustomClassLoader` on the command line
[code]
I'm afraid that the real problem lies in [sbt](https://github.com/sbt/sbt/issues/3249) but I'm not sure.

[2017-10-26 11:12] alexduf commented on #556
Hi @etorreborre, since I'm using Play I'm stuck with whatever version they use (3.8.9 as far as I know)
Nevertheless I tried overriding that with 4.0.1, but run into more classcast exception, this time on Mockito's side. At this point I'm not sure if we're still talking about a classloader problem or a transient dependency incompatibility.

I tried using the option with 3.8.9 to no avail, so I ass

[2017-10-26 11:27] etorreborre commented on #556
On Mockito side this might be due to the Mockito version you are using, I think I did an upgrade to the latest in 4.x.

[2017-11-02 10:43] etorreborre commented on #601
[Done](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.13.0-M2/4.0.1/)

[2017-11-02 10:43] #601 closed

[2017-11-08 08:15] etorreborre commented on #592
This could be the reason yes. Maybe you can fire up your code in a debugger, step through and see what's going on?

[2017-11-08 11:34] peter-empen commented on #592
Closing since it needs more investigation on our side and specs2 is possibly not responsible for the issue. I'll get back to you if I have any finding relevant for you.

[2017-11-08 13:08] etorreborre commented on #592
Ok, thanks.

[2017-11-16 09:29] nigredo-tori opened #611 "Provide opt-out for `===` operator"
It's common practice to avoid `==` operator in Scala, using some type-safe version of it instead. Both Cats and Scalaz provide the alternative `a === b` syntax. This expression is expected to compile only if `a` and `b` have the same type (and if we have a correct typeclass instance in scope).

Yet specs2 nonchalantly provides its own `===` operators inside specifications, which always compiles, b

[2017-11-18 11:25] etorreborre commented on #611
Did you try the `org.specs2.matcher.NoTypedEqual` trait :-)?

[2017-11-18 11:27] etorreborre commented on #611
By the way `===` is the moral equivalent of `==` in specs2 and there is also `====`, the equivalent of `===` in scalaz/cats which is typesafe.

[2017-11-18 11:55] nigredo-tori commented on #611
Thank you, I somehow missed that. Will try it first thing Monday. This should cover my problem, so I'm closing this issue.

Only in that it doesn't check typing in compile-time. Their semantics have little in common.

The thing that gets me about all this is that you still can cast the result to `Boolean` somehow, even though it never returns `false`, throwing instead (at least in my experience, w

[2017-11-18 11:55] #611 closed

[2017-11-20 20:28] francisdb opened #612 "3.8/9 thread leak when using implicit spec-scoped ExecutionEnv"
[code]

After running the above test I see 1 remaining threads named `specs2.fixed.env-####`
When adding more test cases there are up to the number of cores of these threads leaked
On every run more threads are added.

This seems to be fixed in 4.x but I was wondering if there is a workaround for 3.x that we could use to fix this until play migrates to 4.x

[2017-11-21 14:44] etorreborre commented on #612
Ok, I need to check why it was the case under 3.9.x. But not today or even tomorrow because I'm sick with probably the flu or something similar :-(.

[2017-11-21 15:00] francisdb commented on #612
Never mind, looks like we can use 4.x with play :-)
Get well soon!

[2017-11-21 15:00] #612 closed

[2017-11-21 15:20] etorreborre commented on #612
Great, good to know!

[2017-11-21 16:13] francisdb opened #613 "4.0.1 test report timings wrong"
specs2 4.0.1
sbt 1.0.2

When jenkins picks up the test reports it shows `527 yr`

the xml contains

[code]

reported times should be in seconds, this broke after switching from 3.x

I have the impression that it's not for all tests but I could be wrong

[2017-11-21 16:40] etorreborre commented on #613
Do you have a spec where I can reproduce this because a test spec works fine for me
[code]
[code]

and
[code]
in the junit xml file.

[2017-11-21 19:32] francisdb commented on #613
I have it with some non-sequential tests too but this is a reproducer:

[code]

[code]

[2017-11-21 22:00] francisdb commented on #613
Same issue with `skipAll` instead of `sequential`.
But somehow moving this test to a different subproject even triggers the issue without `sequential`. That project does have a much bigger classpath though.

[2017-11-22 14:17] etorreborre commented on #613
I confirm, the times are really crazy once using sequential. I will fix that, thanks.

[2017-11-22 14:44] etorreborre commented on #613
I released a fix `specs2-core-4.0.2-cf517a7-20171122141020`.

[2017-11-22 15:06] francisdb commented on #613
got a commit link?

[2017-11-22 15:15] etorreborre commented on #613
I just pushed it `6f79a71`. But I still need to write proper tests for it.

[2017-11-22 15:30] francisdb commented on #613
I can confirm this is fixed, thanks! I'll leave it up to you to close the ticket.

[2017-11-22 16:42] etorreborre commented on #613
Cool, thanks for confirming.

[2017-11-22 17:03] francisdb commented on #613
Don't forget the test ;-)

[2017-12-02 19:55] sergeych opened #615 "can't find test classes"
[code]

works fine from sbt console.

IntelliJ IDEA 2017.3 (Ultimate Edition)
Build #IU-173.3727.127, built on November 27, 2017
Licensed to Sergey Chernov
Subscription is active until November 21, 2018
JRE: 1.8.0_152-release-1024-b6 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

scalaplugin 2017.3.9

[2017-12-03 13:09] etorreborre commented on #615
You didn't specify the specs2 version, can you please try with the latest one: `4.0.2`?

[2017-12-03 20:01] sergeych commented on #615
The same. I suppose it's most likely a bug in the IJ plugin/support, do you think I should report it there? Btw, 4.0.2 tests are incompatible with these I had had (with specs2 % Test). Just for, the stack trace with 4.0.2:
[code]

[2017-12-03 20:19] etorreborre commented on #615
Yes it's a good idea to report it to the Intellij team, even better would be to have a github project where we can reproduce and investigate if that's possible for you.

One possibility which also comes to my mind is that your class might throw an exception during its instantiation and that exception might be lost, resulting in a `ClassNotFoundException`. Can you check if there's any code in the b

[2017-12-03 22:24] sergeych commented on #615
I'll see, but the fact that it does run ok under sbt in the terminal window
makes me think it's an IJ bug.

On Sun, Dec 3, 2017 at 9:19 PM Eric Torreborre <notifications@github.com>
wrote:

[2017-12-04 02:14] sergeych commented on #615
For sure it is a IJ bug. Filed it. specs2 works like a charm whith default version to play (specs2 % Test).

[2017-12-04 02:14] #615 closed

[2017-12-04 06:44] etorreborre commented on #615
Ok, I hope it will be fixed fast, I haven't had this issue yet with Intellij.

[2017-12-04 16:37] oleksiypr opened #616 "This looks like a specs2 exception..."
Testing started at 18:34 ...
D:\dev\sdk\jdk1.8.0_151\bin\java "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA 2017.3\lib\idea_rt.jar=50309:C:\Program Files\JetBrains\IntelliJ IDEA 2017.3\bin" -Dfile.encoding=UTF-8 -classpath C:\Users\oleksii.prosianko\.IntelliJIdea2017.3\config\plugins\Scala\lib\runners.jar;D:\dev\sdk\jdk1.8.0_151\jre\lib\charsets.jar;D:\dev\sdk\jdk1.8.0_151\jre\lib\deploy.ja

[2017-12-04 17:18] etorreborre commented on #616
I see the command line execution but not the stacktrace, do you have it? Is it similar to #615?

[2017-12-04 18:00] mantasindrasius opened #617 "NPE when matching JSON"
We are using specs2 version 3.8.6.

When matching a JSON containing an irrelevant null value, getting an NPE with the stacktrace below.

[code]

No underlying matcher is asserting agains "b" -> "c", but when removed, the test starts passing magically.

Stacktrace:
[code]

[2017-12-05 06:55] etorreborre commented on #617
Thanks for reporting this issue, it is fixed now, I will publish a version later on today for you to try.

[2017-12-05 09:50] etorreborre commented on #617
Ok, I released `4.0.2-958e92f-20171205091812` with the fix.

[2017-12-05 09:50] #617 closed

[2017-12-10 20:19] etorreborre commented on #616
Hi, any news on this?

[2017-12-11 22:50] mdedetrich opened #618 "Indirectly using CharSequenceReader on Scala.js causes runtime error"
I am trying to use Specs2 4.0.2 for scalajson (https://github.com/mdedetrich/scalajson) in Scala.js  and I get the following stacktrace
[code]

It appears that for some type of tests, we end up using `org.specs2.text.InterpolatedParsers.interpolate`. This ends up calling `scala.util.parsing.input.CharSequenceReader` which doesn't exist on the Scala.js platform. I don't think that Scala.js will sup

[2017-12-11 23:05] mdedetrich commented on #618
So some update, @sjrd has been helping in the gitter channel, this class is meant to be part of scala-parser-combinators (which is now a module), however even if you explicit add this with

[code]
The error still occurs

[2017-12-11 23:08] mdedetrich commented on #618
Okay, so it turns out that there is a massive issue with the published version of scale-parser-combinators 1.0.6, i.e. see https://github.com/scala/scala-parser-combinators/issues/130

Using 1.0.5 seems to work, @etorreborre should I close this issue or leave it open as a reference?

[2017-12-12 06:04] etorreborre commented on #618
I think I had to update to 1.0.6 for some reason because 1.0.5 was not working for me. As a result I got stuck on this.

[2017-12-12 10:35] mdedetrich commented on #618
@etorreborre Do you remember what the issue with 1.0.5 was? 1.0.5 is whats working for me (and 1.0.6 is whats obviously not working due to it missing class files for Scala.js)

[2017-12-12 11:27] etorreborre commented on #618
No I don't remember I think that some js tests were not passing in the test suite. Can you try a PR with 1.0.5 and enabling the JS tests again? https://github.com/etorreborre/specs2/blob/master/.travis.yml#L41

[2017-12-13 06:02] etorreborre commented on #618
I know now why 1.0.5 is problematic. There's no build for Scala 2.13.0-M2. I have just released `4.0.2-bc9c22b-20171213063838` for Scala 2.11.11 and 2.12.3 if that helps.

[2017-12-13 10:10] mdedetrich commented on #618
It was actually happening because you accidentally used `%%` in one spot instead of `%%%`, I fixed this in my PR

When looking at the build, I noticed a few other things which aren't entirely correct. i.e. you are using js `libraryDependencies` in the core projects (they should only be included in the js version of the project)

I will do another PR tonight to clean up the build and fix these thin

[2017-12-13 15:53] mdedetrich commented on #618
I am going to close this issue since we found the underlying problems, with master in the right state right now we just need to deploy a new version of specs2, targeting parser-combinators either for version `1.0.5` or `1.0.7`.

[2017-12-13 15:53] #618 closed

[2017-12-21 20:50] SethTisue opened #622 "specs2 3.x: org.specs2.specification.IsolatedExecutionSpec started failing in Scala 2.12.3"
in the Scala community build, we don't run specs2's tests. I tried re-enabling that but I get:

[code]

the problem is reproducible outside of the community build: check out the `specs2-3.x` branch and run `core/test:testOnly *IsolatedExecutionSpec`. it passes on 2.12.2 which is the 2.12 version on that branch, but if you do `++2.12.3` or `++2.12.4` first, it fails.

since specs2 is of fundamental

[2017-12-21 22:31] SethTisue commented on #622
`examples.MutableStackIsolatedSpec` is affected as well

[2017-12-21 22:59] SethTisue commented on #622
these are the only two failures.

[2017-12-22 14:02] etorreborre commented on #622
Hi Seth, my plate is a bit full at the moment and this functionality in specs2 is one of the hairiest one. Surprise, surprise it involves mutation :-).

I have done a first investigation and saw nothing obvious for now. The first spec can be fixed by executing the example specs sequentially but applying that trick to the `MutableStackIsolatedSpec` doesn't work.

If this proves blocking for the com

[2017-12-22 16:19] SethTisue commented on #622
The community build won't be blocked regardless; I can fork specs2 and delete those two tests. It's really up to you whether you consider this otherwise worth pursuing.

[2017-12-22 16:23] etorreborre commented on #622
Yes I would like to get to the bottom of it because I don't see how a minor Scala version bump should have an effect on anything.

[2017-12-22 21:55] etorreborre commented on #622
At least I checked that everything is ok on the 4.x branch, so that will give a good incentive for people to upgrade :-).

[2017-12-24 13:31] ittaiz commented on #445
sorry for being so troublesome but it seems to have died again after 3.8.9 :(

[2017-12-25 17:14] etorreborre commented on #445
I won't be around my laptop for the next week. Do you want to see if you can put it back for 4.x and make a PR?

[2017-12-31 11:58] lanjiann opened #623 ""No template file found" problem (ONLY in Windows)"
I tried to use ```specs2``` to generate a html format test report.
I first did this in a Windows 10, and it didn't work. However, it works in a linux.

The error message in my Windows 10 is ```No template file found at /C:/Users/lanjian/Downloads/preowned-kitten/target/specs2-reports/templates/specs2.html```. By the way, I use sbt. One thing I think I should mention is that, after running ```sbt t

[2017-12-31 16:49] etorreborre commented on #623
By any chance, is this covered by this PR? https://github.com/etorreborre/specs2/pull/614

[2018-01-01 05:55] lanjiann commented on #623
I tried the one you mentioned, and I think it doesn't cover my case. I can still see the error message.

[2018-01-01 11:12] etorreborre commented on #623
Ok, thank you for trying. I will try to have a look at this before the end of the week.

[2018-01-01 14:10] etorreborre commented on #623
The problem could be the leading `/` in front of the `out` path. Maybe you can try to force it to be correct by passing `html.outdir C:/Users/lanjian/Downloads/preowned-kitten/target/specs2-reports` as an argument.

[2018-01-01 14:19] etorreborre commented on #623
@asflierl Andreas could you please have a look at this issue since you also have a windows environment?

[2018-01-01 15:35] asflierl commented on #623
I have no access to a Windows environment until next week, but I can have a look at the issue then.

[2018-01-02 15:13] etorreborre commented on #623
Thanks @asflierl

[2018-01-03 19:30] childofsoong opened #624 "Documentation has broken link"
The web site has a broken nav link for "Learn > Examples" path.

[2018-01-04 09:29] etorreborre commented on #624
This should be `https://github.com/etorreborre/specs2/tree/SPECS2-4.0.0/examples/jvm/src/test/scala/examples`. I will fix that later on today, thanks for notifying me.

[2018-01-04 15:36] etorreborre commented on #624
This is fixed now, thanks again.

[2018-01-04 15:36] #624 closed

[2018-01-08 11:32] asflierl commented on #623
the issue seems to be that `java.io.File` accepts and "properly" treats paths like "/C:/..." but `java.nio.file.Path` does not

[2018-01-08 11:49] etorreborre commented on #623
So we need to find why we form such a path in the first place. Possibly this is the result of doing a `split` on `/`.

[2018-01-08 12:15] asflierl commented on #623
most probably https://github.com/etorreborre/specs2/blob/1085f971cb6579555cebef179f2b84c408694cda/common/shared/src/main/scala/org/specs2/io/DirectoryPath.scala#L33

if we're on Windows, and the first "directory" is actually a drive letter, we have to omit the leading "/"

[2018-01-08 12:16] asflierl commented on #623
I just wonder why my projects on Windows don't suffer from this problem

[2018-01-09 09:24] phile314-fh opened #625 "BeforeAll / AfterAll fail silently"
I would expect the whole test specification to fail if a BeforeAll / AfterAll fails. However, exceptions in BeforeAll  / AfterAll are silently ignored. Example test:

[code]

Actual Output is Success, expected output is Failure.

I had a bug in my ``beforeAll`` code, and the current behavior makes it difficult to track down those failures. I also find this behavior surprising, as at least for me i

[2018-01-09 09:54] etorreborre commented on #625
Thanks for the report, I fixed this issue, I will publish a version today.

[2018-01-09 13:35] holzfelix opened #626 "playframework testing scala application returns error"
I want to write Tests for my playframework scala application.

My test looks like this:
[code]

When I try to run it I got this error Message: `InvocationTargetException for 'main' in org.specs2.NotifierRunner: null`

What could be the problem in this case?

thanks in advance.

[2018-01-09 14:40] holzfelix commented on #626
When I do it this way:

` val app = new GuiceApplicationBuilder()

    println("TEST5", app)
    "list all process instances by client" in new WithApplication(app.build) {`

I got this error:

Fatal execution error, caused by play.api.libs.logback.LogbackLoggerConfigurator.configure

[2018-01-09 14:52] holzfelix commented on #626
I found this example from playframework:
https://github.com/playframework/playframework/blob/master/documentation/manual/working/scalaGuide/main/tests/code/specs2/ScalaFunctionalTestSpec.scala

When I run this I got the same error:  InvocationTargetException for 'main' in org.specs2.NotifierRunner: null

[2018-01-09 16:00] etorreborre commented on #626
I don't know exactly what's wrong but I suspect that something is throwing an exception that's more or less swallowed. Can you use `sbt> testOnly *YourSpec* -- fullstacktrace` and post the stacktrace?

[2018-01-09 16:01] etorreborre commented on #626
Even better would be to have a small Github project reproducing the issue :-)

[2018-01-09 17:24] holzfelix commented on #626
Stacktrace Returns:

[code]

Yes Sure I will Build a small Project **thanks**

[2018-01-09 17:46] holzfelix commented on #626
https://github.com/holzfelix/processInstances

I've added the project to github

[2018-01-09 19:41] etorreborre commented on #626
This stacktrace leads me to think that this is an issue with your dependencies. You should check the `LogbackLoggerConfigurator. configure` call in different versions of the library to check which one is supposed to be called.

[2018-01-09 19:42] holzfelix commented on #626
where can I find which logger I need for play framework 2.5.14? never changed something on logger

[2018-01-09 19:44] etorreborre commented on #626
Also I think the exception must be thrown from a place where we build the specification:
[code]
In that case you will get some better reporting if you use a `lazy val`.

[2018-01-09 19:44] etorreborre commented on #626
Unfortunately I am not a Play user so I can't really help you here.

[2018-01-09 20:11] holzfelix commented on #626
Thanks I solved it. It was a dependency problem Thanks

[2018-01-09 20:34] etorreborre commented on #626
Great, I'm closing then.

[2018-01-09 20:34] #626 closed

[2018-01-09 21:52] etorreborre commented on #625
Please try [`4.0.2-3eab439-20180109215419`](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.12/4.0.2-3eab439-20180109215419).

[2018-01-09 21:52] #625 closed

[2018-01-10 08:48] phile314-fh commented on #625
Thank you for the quick fix, works perfectly!

[2018-01-11 14:34] holzfelix opened #627 "getting errors when I run my tests"
Hi after solfing the dependency issues Now I got errors after I run my tests:

[code]

what could be the problem in this case?

thanks in advance

[2018-01-11 14:47] holzfelix commented on #627
can you please delete it it was my failure

[2018-01-11 14:47] #627 closed

[2018-01-17 22:52] Afif00 opened #628 "java.lang.reflect.InvocationTargetException caused by java.lang.IllegalAccessError: class org.mockito.internal.creation.jmock.ClassImposterizer$1 cannot access its superclass org.mockito.internal.creation.cglib.MockitoNamingPolicy"

[2018-01-18 10:50] etorreborre commented on #628
I'm sorry, is there a question :-)? This kind of issue might be caused by some incompatibilities between libraries so you should check your dependencies and in particular check if `mockito-core` has version `2.7.22`.

[2018-01-19 03:33] Afif00 commented on #628
True that was it, had to do with a clash with transitive dependencies. resolved it by removing the bad one

[2018-01-19 13:37] povilas opened #629 "BUG? Mockito evaluates a Function0 passed as argument"
[code]
Expected result: passing test
Actual result: `'2' is not equal to '0'`

Scala version: 2.12.4
Specs2 version: 3.8.6

[2018-01-20 09:39] etorreborre commented on #629
This might be a consequence of specs2 trying to special-case by-name values with Mockito: https://github.com/etorreborre/specs2/blob/master/mock/shared/src/main/scala/org/specs2/mock/mockito/ArgumentsProcessor.scala#L54. The issue is that Mockito is a java library not really aware of Scala semantics :-(.

[2018-01-20 09:39] #628 closed

[2018-01-20 18:52] eximius313 opened #630 "Specs2 throws java.lang.NoSuchMethodError with Mockito"
Here is the test case: [Specs2Mockito.zip](https://github.com/etorreborre/specs2/files/1649168/Spec2Mockito.zip).
run `sbt test` and it will fail with:
[code]

go to `build.sbt` , comment line `#13`, run `sbt test` -> everything works fine

[2018-01-22 12:56] etorreborre commented on #630
I think that you can uncomment the dependency with mockito in your build file. This overrides the dependency which specs2 needs for version `3.8.9` and it is `mockito-core-1.9.5`.

[2018-01-22 12:56] #630 closed

[2018-01-22 14:12] eximius313 commented on #630
umm... dependency with mockito is not commented in my build file, so I'm not sure what exactly do you mean

Do you mean that specs2 in version `3.8.9` depends on `mockito-core-1.9.5`?
Could you possibly upgrade Specs2 to use Mockito 2?

[2018-01-22 15:20] etorreborre commented on #630
The upgrade has been done in specs2 4.0.2 (the latest in the 4.x series).

[2018-01-22 17:08] eximius313 commented on #630
When I replace this line: `specs2 % Test`
with this line: `specs2 % "4.0.2" % Test`
I get:
[code]

[2018-01-23 07:17] etorreborre commented on #630
I have never had this before, can you please try to ask on the sbt gitter channel?

[2018-01-23 11:05] eximius313 commented on #630
Here you have the test case: [Specs2Mockito.zip](https://github.com/etorreborre/specs2/files/1655576/Specs2Mockito.zip)
just run `sbt` please

[2018-01-23 12:09] etorreborre commented on #630
I was just writing this because of the `sbt` stacktrace and the mention of `Configurations` which is a `sbt` thing. I unfortunately don't have the time now to investigate this issue more in depth, this is why I'm suggesting to ask the sbt people (or maybe the play people) who might spot the issue right away.

[2018-01-26 15:29] sergeych commented on #615
https://youtrack.jetbrains.com/issue/SCL-13052

On Mon, Jan 22, 2018 at 1:45 PM Bob Gaudaen <notifications@github.com>
wrote:

[2018-02-01 03:12] davidilieberman commented on #626
holzfelix -- any chance you could describe the dependency injection problem and solution? I'm having the same issue. Thanks!

[2018-02-01 13:20] peter-empen opened #631 "SpecificationsFinder omits specs throwing an exception"
Given
[code]

`testOnly FinderSpec -- all` detects both specs and prints
`2 specifications, 2 examples, 0 failure, 0 error`

Now, if you comment in the line on the bottom to throw an exception in the constructor, the erroneous spec is not detected and
`1 specification, 1 example, 0 failure, 0 error` is reported.

Since this hides constructor issues in continuous integration, we'd very much like
`2

[2018-02-01 17:14] etorreborre commented on #631
Good question. That seems tricky. The `FinderSpec` only creates links for specification which can be instantiated and report that. One thing you can do is piggy-back on the implementation of `specifications`
[code]
warnings will contain a message with the exception. You can then create a failed example in the `FinderSpec` with this warning message.

[2018-02-02 10:56] peter-empen commented on #631
Do you mean by 'piggy-back' copy and modify? If so, that is more cumbersome than desirable for us.
Was it possible for you to provide any direct support?
What about not just printing warnings but also saving those specs such that you are able to generate  a failure at the final stage?
Or, maybe simpler to implement, what about providing some alternative method such that we can pass the warnings to

[2018-02-04 18:31] etorreborre commented on #631
One thing I could do is provide a configurable specification doing what you are trying to do in `FinderSpec` and create a link showing an error for each specification which would fail to be instantiated. This specification would include the parameters from the `specifications` method:
[code]

[2018-02-05 10:05] peter-empen commented on #631
Provided the suite would fail all together if any any link showing an error is present, it would.

[2018-02-05 21:39] SethTisue opened #632 "Release for Scala 2.13.0-M3, please?"
if there are missing dependencies, let's get the ticket-opening, polite-nagging process started on those :-)

[2018-02-06 07:32] etorreborre commented on #632
I indeed gave it a go 2 days ago, here is what's missing:

 [ ] shapeless
 [ ] kind-projector

Thanks for chasing those 2 dependencies, I still have very few open-source time for me these days.

[2018-02-06 14:58] peter-empen commented on #631
How can we force a failure using your suggestion?
I suppose it is possible, but I'm not sure how to apply it.

[2018-02-06 15:57] SethTisue commented on #632
Shapeless ticket: https://github.com/milessabin/shapeless/issues/811
kind-projector ticket: https://github.com/non/kind-projector/issues/63

[2018-02-06 17:34] etorreborre commented on #631
I propose to add this to the `SpecificationFinder`
[code]
Then the `FinderSpec` is simply
[code]

[2018-02-07 08:52] lucanaldini commented on #616
@etorreborre I have the same issue, the problem is that there is no stacktrace, @oleksiypr actually pasted the whole thing. Using scala 2.11 and specs2_2.11:3.7

[2018-02-07 09:15] etorreborre commented on #616
Can you try to upgrade to a more recent version of specs2? Either `3.9.5` or `4.0.2`?

[2018-02-07 14:56] peter-empen commented on #631
That looks great. Looking forward to `specificationLinks`.

[2018-02-07 15:16] lucanaldini commented on #616
In the end was the project not having the correct setup for Scala. All I had to do is to add the Scala Sdk dependency in the project setup and select the modules that needed the Scala Sdk.

[2018-02-07 15:48] etorreborre commented on #616
Ok, great :-)

[2018-02-07 15:48] #616 closed

[2018-02-07 16:57] etorreborre commented on #631
Can you please try `4.0.2-26b9134-20180207173143`?

[2018-02-09 09:23] peter-empen commented on #631
Sorry, I'm currently stuck with a migration issue from 3.8 to 4.0 concerning some API changes...

[2018-02-09 15:14] peter-empen commented on #631
The compiler reports "not found: value specificationLinks" so what am I doing wrong?

[2018-02-09 15:47] etorreborre commented on #631
Are you importing it?
[code]
Also run
[code]
to make sure you have the right specs2 dependency.

[2018-02-09 16:24] peter-empen commented on #631
Right, the _import_  was missing. And I do have '1 error'. So it works.

[2018-02-09 16:38] peter-empen opened #633 "Regression 4.0.2: Stack Overflow"
Do you have a suggestion how to resolve the following issue that occurs on switching from from 3.8. to 4.0.2 and working extensively with the finder:

[code]

[2018-02-09 16:43] etorreborre commented on #631
Great!

[2018-02-09 16:43] #631 closed

[2018-02-09 17:10] etorreborre commented on #633
Ouch, the first idea would be to run with `-Xss4m` in order to get a bigger stack.

[2018-02-10 12:50] peter-empen commented on #633
Certainly. But, provided you can exclude an infinite loop, what about moving to a tail recursive implementation?

[2018-02-12 11:57] etorreborre commented on #633
I suspect that the part where there's a loop is a part that I don't know how to make tail-recursive. I will try to at least put a work-around.

[2018-02-12 12:07] peter-empen commented on #633
Yeh, that is often too hard a job. I sometimes also spent a lot of time to get specific algorithms tail-recursive.
Just for curiosity, could you point me to that method?

[2018-02-12 13:05] etorreborre commented on #633
Sure, but just for curiosity then :-). Specs2 is running an old version of the eff library internally and its `ap` method for the `Eff` applicative is: https://github.com/etorreborre/specs2/blob/master/common/shared/src/main/scala/org/specs2/control/eff/Eff.scala#L177.

In the current version of `Eff` we have: https://github.com/atnos-org/eff/blob/master/shared/src/main/scala/org/atnos/eff/Eff.sca

[2018-02-12 15:52] SethTisue commented on #632
Shapeless and kind-projector have now both been published for M3.

[2018-02-12 16:28] etorreborre commented on #632
Thanks @SethTisue, I can indeed get those new dependencies. Now I have to fix a bunch of ambiguous implicits.

[2018-02-12 16:47] etorreborre commented on #632
I'm getting a suspicious compiler error on this expression:
[code]
[code]
But in that case `stack` is not a parameter name, it refers to a `var` in scope.

[2018-02-12 17:01] etorreborre commented on #633
Quick question: if I want to reproduce your issue I should be able to do so by trying to find specifications in a very large directory (including nested directories)? Or did you use a directory containing many files?

[2018-02-12 17:01] SethTisue commented on #632
https://github.com/scala/scala/pull/6092 ? I think you'll need  to change it to curly braces `step{stack = emptyStack}`

[2018-02-12 17:12] etorreborre commented on #632
Thanks, that's indeed what I did. I think it's a good idea to restrict this behaviour in 2.13. `4.0.2` is now available for scala `2.13.0-M3`: https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.13.0-M3/4.0.2

[2018-02-12 17:12] #632 closed

[2018-02-13 08:29] peter-empen commented on #633
Typically we have a depth of up to 10 with nodes having 1 to 6 descendants. Node directories tend to contain none or just a few files, while leaf directories contain up to 40 files.

[2018-02-13 08:36] etorreborre commented on #633
ok thanks.

[2018-02-14 07:26] etorreborre commented on #632
Hi @SethTisue there seems to be a change in the implicit resolution in 2.13. This test doesn't pass anymore: https://github.com/etorreborre/specs2/blob/efccac81c4784fb19cc081ff37fd2958f1c2f79d/tests/src/test/scala/org/specs2/matcher/describe/DiffableSpec.scala#L158.

The compiler says that the implicit val is not used and indeed it should be used to make the test pass. Do you have any idea of what

[2018-02-14 16:05] SethTisue commented on #632
https://github.com/scala/scala/pull/6010? https://github.com/scala/scala/pull/6074? https://github.com/scala/scala/pull/5867? https://github.com/scala/scala/pull/6123? https://github.com/scala/scala/pull/6069?

(yes some of these are 2.12.x PRs, but they weren't enabled by default until M3)

[2018-02-14 16:20] cmavromoustakos opened #635 "Question regarding DSL"
Hello, I am fairly new to Scala and came across this library for validating JSON returned from my API. My JSON structure looks like so:

[code]

It would be ideal to be able to use something like

`responseString must /("data")/("attributes")/("race") /# "all" ["Caucasian", "Black"]`

The only way we found to be able to check the array contained in race is:

[code]

We have also tried the followin

[2018-02-14 17:22] cmavromoustakos commented on #635
This works as well but we want an exact match

[code]

[2018-02-15 07:54] xuwei-k opened #636 "please release new version for scala-js with depends on scala-parser-combinators 1.1.0"
specs2-common_sjs0.6_2.12 4.0.2 depends on scala-parser-combinators_2.12 1.0.6. (**NOT** scala-parser-combinators_sjs0.6_2.12 !)

https://repo1.maven.org/maven2/org/specs2/specs2-common_sjs0.6_2.12/4.0.2/specs2-common_sjs0.6_2.12-4.0.2.pom

also scala-parser-combinators 1.0.6 is broken https://github.com/scala/scala-parser-combinators/issues/119

[2018-02-15 16:46] etorreborre commented on #635
Hi, I cannot give you an answer right now but I will tomorrow morning if you don't mind.

[2018-02-16 16:20] etorreborre commented on #633
@peter-empen could you please try out `4.0.2-6a513a8-20180216164051` and tell me if that works for you? I have updated the Eff code and hopefully it will fix your problem.

[2018-02-16 16:56] etorreborre commented on #635
@cmavromoustakos I think this needs to enter in the category of "internal DSL fails" because this works for me (compiles and gives expected results in case of failure and success):
[code]
So `andHave` needs to be applied to `(/("data")/"attributes"/"race")` which is a json matcher. We do have to add the parenthesis to make this work.

Overall I don't find this `JsonMatchers` trait to provide a gre

[2018-02-18 11:53] dkomanov opened #637 "Proposal: base class for case class matchers"
I'm aware of macros-based matcher, but the problem with it is that IntelliJ doesn't support macros expansion, and therefore it appears as red (wrong) code.

The proposal:
[code]

Usage:
[code]

If you think it's worth having this stuff as part of specs2, I can make a PR.

[2018-02-18 13:29] etorreborre commented on #637
Given that the amount of code that can be reused is really minimal, I would say that the most important thing would be to add this idea to the user guide page about [case classes](https://etorreborre.github.io/specs2/guide/SPECS2-4.0.1/org.specs2.guide.matchers.CaseClassMatchers.html) as a third way to handle them.

I am wondering if maybe we could implement a `construct` method by using a macro b

[2018-02-18 20:54] etorreborre commented on #636
Sorry I just saw this issue now, the email had arrived in my spam folder. I will deploy a `4.0.3` tomorrow.

[2018-02-19 08:35] peter-empen commented on #633
Thank you, beware with me...

[2018-02-19 10:42] etorreborre commented on #636
Done: https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.12/4.0.3

[2018-02-19 10:42] #636 closed

[2018-02-19 11:20] xuwei-k commented on #636
Thanks! 👍

[2018-02-19 18:14] luberg commented on #626
+1 @holzfelix

[2018-02-20 17:09] alexduf commented on #556
If anyone stumbles on this bug with something similar, I've sorted my issue by using `fork := true`.

[2018-03-05 16:08] peter-empen commented on #633
Finally here my test results: A StackOverflowError may still occur:
[code]

[2018-03-06 16:53] konradwudkowski commented on #626
+1 @holzfelix

[2018-03-06 18:39] etorreborre commented on #633
Hi @peter-empen sorry about that. I guess I need to find a good way to reproduce this issue before I can tackle it. Do you think you could create a repro project showing it? This will make me gain a huge amount of time which I don't really have at the moment :-).

[2018-03-07 10:19] peter-empen commented on #633
Hi Eric, I could give it a try. But just to understanding the need:
What did you roughly do in "I have updated the Eff code"? You told you did not see how to make things tail recursive. If so, how do you plan to guarantee that it works with any directory structure?

[2018-03-07 10:29] etorreborre commented on #633
My fix in "I have updated the Eff code" was about making traversals a bit more sequential (as in "Monadic") instead of potentially concurrent (with `Applicative` and `ap`). The trick is to implement `ap` by limiting the number of times it could recursively call itself. Sorry it's hard to explain and I think I need a concrete example to work on in order to fix it for good.

[2018-03-14 10:31] ejossev opened #638 "Proposal: anyFunction0"
I would really like to see also anyFunction0 in MockitoMatchers.scala - sometimes one need to match function taking no arguments, and adding own definition is not the nicest solution...

[2018-03-14 13:17] etorreborre commented on #638
Can you please do a PR for it?

[2018-03-14 16:32] ejossev commented on #638
#639

[2018-03-19 18:08] beaushinkle opened #641 "Specs2 incompatible with newest version of Mockito"
I'm running into a Mockito issue where mocks of singletons can cause deadlock race conditions. See https://github.com/mockito/mockito/issues/1067

Upgrading mockito to the newly released 2.16.1, however, causes:
[code]

[2018-03-19 22:57] etorreborre commented on #632
I just did a bit of testing. I get the feeling that scala/scala#6010 might be involved but the behaviour is curious. For example the `Diffable` for
[code]
does not pick up the local implicit definition for `Diffable[A]` while this definition gets it:
[code]
This is for now beyond my implicit resolution powers :-). @milessabin do you have an idea of what could go wrong with the shapeless recursion

[2018-03-20 09:11] milessabin commented on #632
Has this failure started happening _since_ 2.13.0-M3 was released? ie. a subsequent change is responsible?

[2018-03-20 09:13] milessabin commented on #632
https://github.com/scala/scala/pull/6069 was included in 2.13.0-M3 and your earlier comment suggested your build was fine with that release ...

[2018-03-20 14:04] etorreborre commented on #632
My build fails with `2.13.0-M3` because a local implicit is *not* picked up. It works fine with `2.12.4` so I am wondering if the fix for scala/scala#6010 could be a regression.

[2018-03-20 14:11] milessabin commented on #632
Have you tried reprioritizing the instances? If this doesn't compile with 2.13.0-M3 then it looks like it might be more fallout from https://github.com/scala/scala/pull/6069 /cc @TomasMikula.

[2018-03-20 16:19] TomasMikula commented on #632
Testing with 2.12.4 with the compiler option `-Xsource:2.13` could possibly narrow it down.

[2018-03-23 11:30] alielgamal commented on #641
same issue here.

[2018-03-23 12:56] etorreborre commented on #641
I have a fix for mockito `2.16.0` (I could not find `2.16.0`) on master but I cannot publish at the moment because of a setup issue on my new laptop.

[2018-03-25 13:52] hmemcpy commented on #632
For what it's worth, I managed to reproduce this, as @TomasMikula suggested, targeting 2.12.4 with `-Xsource:2.13` enabled. The issue is that the local implicit appears unused:
[code]
Digging a bit deeper (and doing some println-debugging 😄) I was able to see that the resolution is identical between both versions:
[code]

Unfortunately, in the later case, the compiler reports that the local implic

[2018-03-25 14:08] hmemcpy commented on #632
Also confirm that when the order of parameters is reversed (via Eric's comment, `case class B(i: Int, as: List[A])` -> `case class B(as: List[A], i: Int)`), the warning does not occur, and the implicits graph looks like this:
[code]

[2018-03-25 14:35] etorreborre commented on #632
If the implicit is actually used and wrongly reported as unused how come the test doesn't pass in 2.13?

[2018-03-25 14:46] hmemcpy commented on #632
It passes when I remove `-Xfatal-warnings` and run it. Here's what I'm doing (after removing the flag from build.sbt):
[code]
Unless I'm holding it wrong, this is just a compiler warning :)
Removing the implicit value, of course, causes the test to fail for real.

[2018-03-27 17:33] #638 closed

[2018-03-27 17:34] #635 closed

[2018-03-27 17:34] #597 closed

[2018-03-27 17:35] etorreborre commented on #622
I am closing this issue because I unfortunately don't have time to investigate it :-(.

[2018-03-27 17:35] #622 closed

[2018-03-27 17:40] SethTisue commented on #622
makes sense. note that the Scala 2.13 community build is now on specs2 4.x, anyway.

[2018-03-27 18:11] etorreborre commented on #629
Is it possible for you to upgrade to a more recent version of specs2? In particular you might want to try `4.0.4-3593406-20180327185327` which supports the latest Mockito version.

[2018-03-29 07:15] peter-empen commented on #633
Did this change go to a regular release or is it solely in 4.0.2-6a513a8-20180216164051?

[2018-03-29 09:14] etorreborre commented on #633
It hasn't gone yet to a regular release. I will probably do one soon, I'd like to fix a few more issues before that.

[2018-03-29 10:01] etorreborre commented on #632
@hmemcpy oh really? I didn't think of trying that, I just assumed that the unused warning was correct. That's a different story then. @SethTisue I should probably report this as a spurious warning but I'd need a reduced test case, right?

[2018-03-29 10:02] etorreborre commented on #641
I released `4.0.4-3593406-20180327185327` with the upgrade.

[2018-03-29 10:02] #641 closed

[2018-03-29 10:03] etorreborre commented on #591
I am going to close this for now because I realistically don't have the time to implement it.

[2018-03-29 10:03] #591 closed

[2018-03-29 14:02] SethTisue commented on #632
incorrect unused warnings aren't unheard of, the feature is relatively new and still being refined. perhaps if @som-snytt takes a look he can quickly intuit what's going on without you having to isolate it

[2018-03-29 19:36] som-snytt commented on #632
Edit: I see you did a workaround on master.

So you need `-Ywarn-macros:after` to look at trees after macro expansion. The default is to look at trees before macro expansion, for purposes of warnings. Before macro expansion, that value is unused.
[code]
Is this on master? I also couldn't reproduce with `2.12.4` and `-Xsource:2.13`. I do see the spurious warnings from `2.12.5` that are fixed in `2.

[2018-04-06 00:07] Synesso opened #646 "Newlines missing using Fragments.foreach"
[code]

outputs spec results without newlines

[code]

[2018-04-06 07:08] etorreborre commented on #646
That's on purpose, so that you can add your spacing as you want, like this, with an additional `br` for example:
[code]

[2018-04-06 08:14] Synesso commented on #646
Thanks Eric.

[2018-04-06 08:14] #646 closed

[2018-04-10 09:47] laurynasl-wix opened #648 "SpecWithJUnit creates a separate execution pool for each specification"
We've recently updated to Specs 4.0.3 and it seems that the JUnitRunner creates new ExecutionContexts for each Spec(ification)WithJUnit. This is a problem, because for each specification 16 threads are created by default (if you have 8 cores). This seems to be a regression. To recreate this I think it's enough to create two specifications with junit and run them with Maven surefire or the like. Le

[2018-04-10 10:43] etorreborre commented on #648
Would you mind setting up a small github project with maven for me?

[2018-04-10 10:49] laurynasl-wix commented on #648
Will try to later today.

[2018-04-10 10:54] etorreborre commented on #648
Thank you!

[2018-04-10 11:01] etorreborre commented on #648
BTW you can at least reduce the number of threads by setting `-Dspecs2threadsnb=2` (I don't advise to use `1` because this might create some deadlocks).

[2018-04-10 11:03] laurynasl-wix commented on #648
Thanks, I used `-Dspecs2.threadsNb=1 -Dspecs2.specs2ThreadsNb=2` to work around the issue

[2018-04-10 18:17] laurynasl-wix commented on #648
Here you go https://github.com/laurynasl-wix/specs2-junit-issue.

[2018-04-10 21:39] etorreborre commented on #648
Thank you, I have fixed the issue and pushed a fix to master. However I cannot yet publish a new version because I have a setup issue with my new laptop. I will try to fix and publish later.

[2018-04-11 05:36] laurynasl-wix commented on #648
Awesome, thank you!

[2018-04-11 13:29] SemanticBeeng opened #649 "Internal error due to failure to open a "stats" file"
Have not (yet) been able to narrow it down

Version: 4.0.2
Happens both from sbt 0.13.6 and Intellij 2017.2
Spec is very simple

[code]

Not sure if related but found a similar symptom here https://github.com/sbt/sbt/issues/2301

[2018-04-11 15:00] etorreborre commented on #649
I would need to be able to reproduce this. In the meantime you can use `neverstore` as an argument to avoid reading the stats file. The drawback is that running `testOnly -- was x` to re-run failed tests will not work.

[2018-04-11 17:41] SemanticBeeng commented on #649
thanks. will try to narrow down

[2018-04-12 14:01] etorreborre opened #650 "Json matcher should work for {"a":1} must /("a")"

[2018-04-13 08:53] etorreborre commented on #650
Actually it should *not* work because `/("a")` is for matching a value in an array. The fix outputs a better failure message:
[code]

[2018-04-13 08:54] #650 closed

[2018-04-13 09:44] etorreborre commented on #650
Released in `4.0.4-f9521ff54-20180413093135`.

[2018-04-13 09:45] etorreborre commented on #648
I have just released a version which you can try `4.0.4-f9521ff54-20180413093135`.

[2018-04-13 09:45] #648 closed

[2018-04-13 09:48] laurynasl-wix commented on #648
Great!

[2018-04-14 01:03] jeremysears opened #651 "AllExpectations is incompatible with traits in EachContext.scala"
The `AllExpectations` trait will not compile along side the `BeforeEach`/`AfterEach`/`BeforeAfterEach`/`AroundEach`/`ForEach`, etc. traits, because it broadens the visibility of `FragmentsFactory.fragmentFactory`.

Error:
[code]

Reproducible Test Case:
[code]

[2018-04-14 08:46] etorreborre commented on #651
Thanks for reporting this issue, it is now fixed in `4.0.4-09706de69-20180414081008`.

[2018-04-14 08:46] #651 closed

[2018-04-20 16:01] etorreborre commented on #641
I just published `4.1.0` with dependency to Mockito `2.18.0`. So this problem should be solved.

[2018-04-23 12:04] ppurang opened #652 "Support scalaCheck 1.14.0"
We use both specs2 and scalacheck and would love to move to scalacheck 1.14.0  especially because of "Issues with test reporting when running sbt in forked mode."

scalacheck 1.14.0 is [Binary incompatible](https://github.com/rickynils/scalacheck/blob/1.14.0/CHANGELOG.markdown) with earlier versions.

Using specs2 4.1.0 with scalacheck 1.14.0  results in the following stacktrace.

[code]

[2018-04-23 13:10] etorreborre commented on #652
We are currently working on that. ScalaCheck 1.14.0 also brings the possibility to set a specific seed to permit to re-run a test which is great. The only issue at the moment is that a few tests involving filtering `xxx ==> yyy` don't pass anymore and we need to understand why.

[2018-04-23 13:33] ppurang commented on #652
sorry, clicked the wrong button here :)

Thanks, looking forward to the release.

[2018-04-24 08:01] mahmoudhanafy commented on #362
I have a question regarding this.
I tried the `ExamplesTimeout`, but I found the timed out tests were `skipped`. I need to fail tests which timeout, so I can know that there is a problem.
is there a way to achieve this?

[2018-04-24 11:30] etorreborre commented on #362
@mahmoudhanafy you can either take some inspiration from the `ExamplesTimeout` code and write your own where you replace `orSkip` with `orFail`. Or you can transform all the timedout `Skipped` results into `Failure` in your spec with
[code]

[2018-04-27 11:49] greenjoe opened #653 "JunitMustMatchers strange behaviour when using contains"
Hello!
I have a specs2 test
[code]
it passes and works fine. I would like to have the same test written with `JUnitMustMatchers`, so I wrote
[code]
Unfortunately it does not pass.
[code]
Am I using `JUnitMustMatchers` incorrectly here for some reason or is it a bug?

[2018-04-27 21:56] etorreborre commented on #653
You can find all the jars on sonatype: https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-matcher_2.12/4.2.0-2a08d4cae-20180427164428. This repository is generally synchronized with the main maven repository but there can be a delay.

[2018-04-28 07:15] greenjoe commented on #653
Okay :-) It looks like it managed to make its way to maven central. I tested with

[code]

But it is still not working (in the same way). I'm attaching my Intellij Idea / Maven test project on which I'm trying it out.
[testspecsjunit.zip](https://github.com/etorreborre/specs2/files/1957393/testspecsjunit.zip)

[2018-04-28 14:55] etorreborre commented on #653
Ok that required an additional small change, please try `4.2.0-add90d25e-20180428143534`. And thank you for the small test project, this was immensely helpful!

[2018-04-28 14:55] etorreborre commented on #653
By the way you can add this section to your pom file to avoid waiting for the maven central sync:
[code]

[2018-04-28 17:34] greenjoe commented on #653
I confirm that the issue is fixed in version `4.2.0-add90d25e-20180428143534`. Both `must contain` and `must not contain` work fine with `JUnitMustMatchers` in that version.

Thank you for resolving it so quickly :-) :+1:

[2018-04-28 17:34] #653 closed

[2018-04-29 19:33] etorreborre commented on #653
Cool thanks for confirming.

[2018-05-03 18:39] etorreborre commented on #652
Done. Will publish as `4.2.0` ASAP

[2018-05-03 18:39] #652 closed

[2018-05-08 12:56] avdv opened #655 "`setMessage` on `beFalse` does not update the failure message"
Hi.

Just a minor thing I have noticed recently:

Example:
[code]
Output:
[code]
I am using specs2 version 4.2.0.

Thanks!

[2018-05-08 13:49] etorreborre commented on #655
Damn, this only happens with mutable specifications. This is fine:
[code]
I will investigate, thanks.

[2018-05-08 14:06] etorreborre commented on #655
This is fixed now and will go into the next version. Please tell me if you would like to have an interim version.

[2018-05-08 14:06] #655 closed

[2018-05-08 20:34] avdv commented on #655
Thanks alot! No sweat, I'll wait for the next version! :smiley:

[2018-05-17 07:31] nigredo-tori opened #658 "Add matchers for Cats"
Since `core` got rid of its scalaz dependency, it would make sense to provide a `specs2-cats` module again, in the same spirit as `specs2-scalaz`. At the very least it should include `Eq` matchers, and possibly matchers for `Validated` and `IO`, too (the last one is in `cats-effect`). I imagine porting `Equals`, `Validated` and `Futurez` machinery from `specs2-scalaz` would suffice.

Sorry if ther

[2018-05-17 09:00] etorreborre commented on #658
I agree, it would be nice to have. It's also a great contributor project if you want to get started with open-source!

[2018-05-17 13:02] SemanticBeeng commented on #649
this went away just a strangely as it occurred.

[2018-05-17 13:02] #649 closed

[2018-05-19 20:27] SethTisue opened #659 "ClassNameSpec fails on Java 9"
this came up in the Scala community build, but is reproducible outside it:

[code]

the root cause is:

[code]

as an aside, this code in `ClassNameSpec.scala` is indented incorrectly:

[code]

the `val` should not be indented.

[2018-05-20 06:01] dwijnand commented on #659
and its hair's uneven, and it looks dusty...

[2018-05-20 16:19] etorreborre commented on #659
Thanks @SethTisue this is fixed on master now.

[2018-05-20 16:19] #659 closed

[2018-05-25 09:53] dragos opened #661 "Build fails on Java 8"
Since 8f8337217a838d73feeed764867682c57c71babd one can't build specs2 on Java 8. Not sure if this is intentional, so feel free to close if that's the case (the reason is that `--add-modules` in `.sbtopts` is not understood by older JVMs).

[2018-05-25 10:12] etorreborre commented on #661
Yes I decided to move on to more recent versions of the JDK but I don't know how to have `--add-modules` being ignored by JDK 8. It seems that an option is to use `-[`XX:+IgnoreUnrecognizedVMOptions`](https://bugs.openjdk.java.net/browse/JDK-6788376)

[2018-05-25 10:14] etorreborre commented on #661
I pushed this flag on master if you have some time to try it out.

[2018-05-25 10:17] dragos commented on #661
Yeap, this fixes it, thanks!

[2018-05-25 10:17] #661 closed

[2018-05-27 20:05] etorreborre commented on #629
Hi @povilas I am looking at this issue again and I don't know how to solve it. It might be possible to evaluate the thunk only once instead of 2 but due to how byname parameters are being checked with Mockito, I need to evaluate the thunk at least once to collect the possible matchers which would be used in place of a byname argument. So I am afraid this is going to be a "won't fix" issue :-(

[2018-06-07 09:13] nigredo-tori opened #662 "Release 3.x with scalacheck 1.14.0"
At the moment `discipline` can't upgrade to Specs2 4.x in its 2.10 configuration, and this [locks the update to scalacheck 1.14.0](https://github.com/typelevel/discipline/issues/52) as well. Since the changes in the scalacheck API are relatively minor, we can switch to 1.14.0 in the legacy specs2 branch (3.x) to facilitate that transition.

[2018-06-07 20:55] etorreborre commented on #662
I've had some issues in publishing this release, I hope I will fix them tomorrow.

[2018-06-08 09:07] etorreborre commented on #662
Ok `3.10.0` is at least available for Scala `2.12`: https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.12/3.10.0. Do you need other Scala versions right now?

[2018-06-08 10:45] etorreborre commented on #662
Done, I might as well release 2.11 now :-)

[2018-06-11 13:15] SethTisue opened #666 "publish for Scala 2.13.0-M4?"
ScalaCheck 1.14.0 has been published for M4, so that should unblock specs2

some preparatory work was already merged in #664

[2018-06-15 08:34] laurynasl-wix opened #672 "SpecWithJUnit ignores some failed tests when running in maven"
Hi,

There is an issue with a case like this:

[code]

This is a reduced example from a real scenario when using JMock (it's UnexpectedInvocation exception extends error). It seems that surefire test runner does not get notified that a test failed. I think the Error gets dropped in `ActionRunOps.runOption`

This is a runnable maven example project https://github.com/laurynasl-wix/specs2-junit-issu

[2018-06-16 17:38] SethTisue opened #673 "StackIsolatedSpec failing in Scala 2.12 community build"
seen at e.g. https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3012/consoleFull

[code]

the problem is reproducible outside dbuild with `resolvers += "scala-integration" at "https://scala-ci.typesafe.com/artifactory/scala-integration/"`, `++2.12.7-bin-5622f5d!`, `examplesJVM/testOnly *StackIsolatedSpec`

[2018-06-18 07:33] etorreborre commented on #673
I fixed the spec by running it sequentially. This is one of the hairiest functionality of specs2, I will need more time to investigate if the spec can be run concurrently again. But that should do it for the community build for now, thanks for warning me. Also it's weird that travis didn't fail on that one but possibly travis has less concurrency available.

[2018-06-18 07:35] etorreborre commented on #672
I have attempted a fix. Any mock framework or testing library integrated with specs2 needs to be specially handled if it uses `java.lang.Error` to model failures. JMock's class is `ExpectationError` and I tried to deal with it the same way I do with `AssertionError` and JUnit. I published `4.3.0-9613e1025-20180617171339` but my local testing  is currently not working, can you please try on your si

[2018-06-18 09:21] etorreborre commented on #662
Done for [Scala 2.11](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.11/3.10.0/) as well.

[2018-06-18 09:21] #662 closed

[2018-06-18 09:22] etorreborre commented on #666
I did most of the publishing today except for the `specs2-mock` module which sonatype is rejecting for no obvious reason (at least to me).

[2018-06-18 12:28] laurynasl-wix commented on #672
I've tested it in our setup and the test fails as expected. Thank you!

[2018-06-18 12:51] #672 closed

[2018-06-18 13:00] SethTisue commented on #666
(for anyone wondering, the version published is 4.3.0)

[2018-06-18 13:10] SethTisue commented on #673
scala/community-builds@bd44dfda8ac7521776066b034ce0cafb635db766

optimistically closing, I'll return here if I see the failure again.

[2018-06-18 13:10] #673 closed

[2018-06-19 03:20] marcospereira commented on #666
Thank you, @etorreborre.

I can see that 4.3.0 was published to Scala 2.13.0-M4, but not 2.12 and 2.11. Should we expect the same specs2 version for these three Scala versions?

Best.

[2018-06-19 10:29] etorreborre commented on #666
I'll do it now. I've had some issues with sonatype but it seems to be responding a bit better now.

[2018-06-26 13:05] SethTisue commented on #673
another `StackIsolatedSpec` failure, details a little different, seen at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/3042/consoleFull

[code]

[2018-06-26 13:09] SethTisue commented on #673
dealing with it for now by skipping the test: scala/community-builds@1ae9f44e5199a75b1bbdfd10a64dd32ed33a346d

[2018-06-26 13:14] etorreborre commented on #673
Ok thanks I will try to revisit this part (which is one of the worst of specs2, I'm on the verge of just removing that feature)

[2018-06-27 21:54] SethTisue commented on #666
should this issue be closed now?

[2018-06-28 05:56] etorreborre commented on #666
You're right, `specs2-4.3.0` is now available for Scala [2.11](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.11/4.3.0), [2.12](
https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.12/4.3.0), [2.13.0-M4](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_2.13.0-M4/4.3.0).

[2018-06-28 05:56] #666 closed

[2018-06-28 23:35] balagez opened #679 "The "any[T]" argument matcher doesn't work with default arguments"
If I try to match an argument that defines a default value but at the calling end I don't specify a value, the `any[T]` matcher will produce quite unexpected results.

This is the test:

[code]

This is the output I'm getting:

[code]

If I change `any[Option[Int]]` to `ArgumentMatchers.any[Option[Int]]`, the test works as expected.

Specs2 version: 4.2.0
Scala version: 2.12.6
sbt version: 1.1.6

[2018-06-30 17:05] etorreborre commented on #679
Intriguing, I will try to have a look at that this week-end.

[2018-07-01 11:14] etorreborre commented on #679
Ok thanks for reporting this issue it is fixed on the master branch now.

[2018-07-01 11:14] #679 closed

[2018-07-01 11:17] etorreborre opened #681 "Add matchers for monix Task"
Arguably this should be done in a separate project.

[2018-07-01 11:19] etorreborre commented on #658
I think I should actually move those matchers to different projects so that specs2 can be published independently of cats when there's a major Scala version out for example.

[2018-07-03 19:57] edmundnoble opened #682 "Stack overflow in `TimedFutureApplicative.ap`"
A test suite with a lot of examples occasionally fails with this trace:
https://gist.github.com/edmundnoble/69d8805baf25deebabdfe684d73b2554

I believe this is because the `Applicative` instance for `TimedFuture` does not properly bounce on the stack between examples, meaning that specs2 consumes stack space linear in the number of examples.

I have a fix incoming.

If this is actually because of

[2018-07-04 05:10] stilianouly opened #684 "updateMessage on JsonSelectorMatcher yields unexpected results"
## Summary

This is probably related to your changes in https://github.com/etorreborre/specs2/commit/83f93231d5dac7690a94b00d869666f24f144b9b

When upgrading from **4.2.0 -> 4.3.0** one of our existing helper functions started exhibited strange behavior.

We have the following function to give us more readable messages when testing whether a field does not exist in some Json.

[code]

The followin

[2018-07-04 06:37] #682 closed

[2018-07-04 07:20] etorreborre commented on #684
I think what changed is the meaning of "have". I suggest this alternative:
[code]

[2018-07-05 00:01] stilianouly commented on #684
I'm not sure I understand Eric.

I don't think the meaning of `have` would have changed, or should have changed.

Let me give a different example:

# Test A (Passes)
[code]

# Test B (Fails)
[code]

The only difference between **Test A** and **Test B** is that **Test B** has multiple **updateMessage()** calls in the matcher stack. **Test A** passes, but **Test B** fails.

#### By updating multiple

[2018-07-05 15:50] etorreborre commented on #684
You are right, this is actually an issue with `not` and thrown failure exceptions which I didn't see because I was using an immutable spec. This is fixed now on master, do you need a release soon?

[2018-07-05 15:50] #684 closed

[2018-07-05 17:23] genrym opened #685 "Proposal: change BlockCreation trait and addBlock method access modifier to public"
This will allow to extend the examples DSL to have more custom looking mutable specifications.

An example:

[code]

Of course this can also be achieved by simply inlining like the following:

[code]

But then, why the DSL allows more than one level nesting? :)

[2018-07-05 21:42] etorreborre commented on #685
So if I understand correctly you want to implement a new method `to` using `addBlock`. What is your expected output? Also you can experiment right now by using the content of `addBlock`. You can use `addFragment` and `fragmentFactory.text("xxx")`, `fragmentFactory.start`, and so on. I am not opposed to opening up `addBlock` I just want to make sure I understand your use case.

[2018-07-05 23:55] stilianouly commented on #684
We're OK with our workaround, Eric 👍

No rush to push a release.

[2018-07-06 06:37] genrym commented on #685
That's right.
I want new keywords to have exactly the same behaviour as the built in ones (`should`, `can`) but also be future proof. Meaning, if there will be changes in `should` / `can` implementations in the future, I assume they will most probably be in the `BlockCreation.addBlock` method.

Wdyt?

[2018-07-06 08:00] etorreborre commented on #685
I think this [commit on master](https://github.com/etorreborre/specs2/commit/2fdbc7664d918e48b5f0d6b25ad576d09ff303bb) will allow you to do what you want. Please read the doc and tell me if it looks ok to you.

[2018-07-06 16:35] djspiewak commented on #633
This *definitely* looks like the exact same issue we saw in #682, fwiw.

[2018-07-06 16:52] etorreborre commented on #633
Yes I was meaning to ask. @peter-empen would you mind testing your project again with either `specs2-4.3.1` (for Scala 2.12, 2.11 is being published right now) or with `specs2-4.1.1`? Thanks.

[2018-07-06 20:06] genrym commented on #685
This looks great! Thanks a lot :)

[2018-07-06 20:12] #685 closed

[2018-07-07 16:47] etorreborre commented on #685
It is now released as `4.3.1`.

[2018-07-12 03:59] SethTisue opened #687 "new compilation failure on latest 2.13 nightly"
at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1233/consoleFull we see that https://github.com/scala/community-builds/commit/33b1cd0a7bc35cd9e3a98453d65003f1ff75aabb caused:

[code]

PRs merged in this time:

[code]

not much compiler stuff in there, mostly collections stuff.

@milessabin might scala/scala#6050 be responsible...?

[2018-07-12 04:17] xuwei-k commented on #687
https://github.com/scala/scala/pull/6879/files

[code]

[2018-07-12 04:19] SethTisue commented on #687
@julienrf do we just live with this / work around it...?

[2018-07-12 08:35] #687 closed

[2018-07-12 08:35] etorreborre commented on #687
Fixed courtesy of @xuwei-k :-)

[2018-07-12 08:52] julienrf commented on #687
@SethTisue I see it more as a type inference problem. I’ve created scala/bug#11015 for it.

[2018-07-18 09:31] karolchmist opened #689 "Impossible to exclude code in BeforeAfterAll"
We have some tests in docker containers. Since they are pretty heavy operations, we want to be able to exclude them sometimes.
[code]

The problem is that we launch the containers with `BeforeAfterAll` trait. In this case, excluding with tags or sections doesn't work.

[code]

I've found a solution by creating my own BeforeAfterAll trait :

[code]

Is there a better way? Could be possible to allow

[2018-07-18 09:57] etorreborre commented on #689
Yes there is an other undocumented (yay!) option `skipAll` which you can use in conjunction with [command line arguments](https://etorreborre.github.io/specs2/guide/SPECS2-4.2.0/org.specs2.guide.UseCommandLineArguments.html):
[code]
Then you run with
[code]
I will keep this issue open until this is documented.

[2018-07-22 13:52] nairoa opened #690 "JMock expectation error details are dumped and doesn't propagate"
It looks like resolving issue #672 introduced a regression in the interoperability with JMock.
The commit introducing this change was 24962cedeb0d8d390637baf20386635dd6b0a13d.
It looks like the exception details are lost when replacing ExpectationError with Failure where details are simply FromExpectationError.

This seriously degrades our workflow with the combination of specs2 and JMock.

Lookin

[2018-07-23 08:50] etorreborre commented on #690
I would like to find a way to collect those details which presumably are stored somewhere with an `ExpectationError` and set them on a `Failure`. Could you please create a small project showing the issue? (preferably using sbt). Thanks (Also I'm leaving on vacations on Tuesday so we'd better find a solution fast :-)).

[2018-07-23 09:00] mcintyre94 commented on #361
This would be a nice to have with the new `argThat` when verifying mocks, because using that requires a matcher to be used for all other arguments and I don't think a specs2 matcher will do the same (unless I can pull out all invocations from the Mockito mock and verify them manually with specs2 matchers?)

eg.
` verify(mockApi).bulkCreate(argThat((nots: Traversable[Notification]) => NotificationP

[2018-07-23 09:40] nairoa commented on #690
I created a branch on the specs2-jmock repo with a minimal example that demonstrate the issue.
https://github.com/wix/specs2-jmock/tree/minimal-example-of-degradation

[2018-07-23 10:52] etorreborre commented on #690
Thanks I hope I can find a bit of time to fix this today.

[2018-07-23 13:39] etorreborre commented on #690
The fix seems easy enough, I used the `toString` method on the exception which delegates to the Hamcrest `SelfDescribing` machinery. I am now publishing `4.3.3-RC1` for you to try.

[2018-07-23 15:35] etorreborre commented on #361
I am not sure what you are proposing (or actually what's the exact problem :-)). Do you want to sketch out a PR for your proposal?

[2018-07-23 20:37] kaatzee opened #691 "JUnitRunner: beforeAll and afterAll steps registered as a test in junit"
When there is implemented beforeAll or/and afterAll method in test they are registered as test called 'step' in junit.

I have provided project (https://github.com/kaatzee/specs2Issues) to reproduce this issue. Run https://github.com/kaatzee/specs2Issues/blob/master/src/test/scala/s2i/beforeandafterallastest/HelloWorldSpec.scala test with JUnitRunner.

[2018-07-23 20:45] kaatzee opened #693 "JUnitRunner: test marked as pendingUntilFixed not displayed correctly in junit."
Issue is reproduced here: https://github.com/kaatzee/specs2Issues/blob/master/src/test/scala/s2i/pendinguntilfixed/HelloWorldSpec.scala. Just run it with JUnitRunner.

According to https://memorynotfound.com/add-junit-listener-example/ ignored test should be registered in JUnit without firing 'start'. This code is also provided in https://github.com/kaatzee/specs2Issues/blob/master/src/test/java/s

[2018-07-26 08:21] etorreborre commented on #690
Sorry I had some publishing issues apparently and I am currently on vacations with limited access to internet. Can you publish locally from master?

[2018-07-26 11:02] aldusLorde opened #695 "An error while using the "sbt test" command"
Hello. When i try using the sbt test command, I get an exception related to scalaz.Foldable:

`Exception in thread "specs2-3" java.lang.NoClassDefFoundError: scalaz/Foldable
Caused by: java.lang.ClassNotFoundException: scalaz.Foldable
        at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
        at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
        at sun.misc.Launcher$A

[2018-07-26 11:22] aldusLorde commented on #695
Well, i have added this dependency `libraryDependencies += "org.specs2" %% "specs2-junit" % "4.3.2" % Test` and everything is ok now. I`m sorry for disturbing you.

[2018-07-26 11:22] #695 closed

[2018-07-27 11:22] peter-empen commented on #592
I've just spotted a stack trace giving more insight into how this occurs:

[code]

[2018-07-28 08:02] nairoa commented on #690
Verified it works the minimal example with a locally published version.
Thanks!

[2018-08-01 09:39] etorreborre commented on #592
Can you please try `4.3.2` because @edmundnoble fixed a bunch of recursion issues: https://github.com/etorreborre/specs2/releases/tag/SPECS2-4.3.2

[2018-08-06 07:40] etorreborre commented on #690
I will be home on Thursday and I should be able to publish a release then

[2018-08-06 08:12] nadavwe commented on #690
great, thanks! =)

[2018-08-09 10:54] peter-empen commented on #592
Just to let you know about the reason for the delay: migrating of our project to 4.x is rather cumbersome:
When upgrading, everything compiles but Jenkins gets reproducibly red at a lot of places so I need get time approved to investigate into how this happens...

[2018-08-09 13:04] etorreborre commented on #592
Ok, no worries, thanks for the update.

[2018-08-10 09:40] etorreborre commented on #690
Hi I have released 4.3.3 now

[2018-08-10 12:50] peter-empen commented on #592
Trying with 4.3.2, I'm not experiencing unnecessary spec instantiations right now. Let me reopen the issue should I get it again.

[2018-08-10 12:50] #592 closed

[2018-08-10 13:53] peter-empen commented on #633
After upgrading to 4.3.2, StackOverflowError has vanished fortunately. Thank you.

[2018-08-10 13:53] #633 closed

[2018-08-12 05:59] nairoa commented on #690
Thanks!

[2018-08-12 11:11] etorreborre commented on #690
Good I'm closing this issue now.

[2018-08-12 11:11] #690 closed

[2018-08-14 03:46] zafarella opened #701 ""This looks like a specs2 exception..." when running test from InteliiJ"
Thank you for the lib!

There is an issue with launching the tests from the IntelliJ. Looked on the similar issues, bubt still cannot resolve.
Cannot understand what is wrong. Would be really useful to launch separate tests, so debugging and fixes could be more easy.

Here is the launch arguments. It uses test name for selecting the test.

[code]

If the entire suite launched from command line - i

[2018-08-15 07:51] etorreborre commented on #691
fixed with #700

[2018-08-15 07:51] #691 closed

[2018-08-15 07:51] etorreborre commented on #693
fixed with #700

[2018-08-15 07:51] #693 closed

[2018-08-15 07:56] etorreborre commented on #689
I added this argument to the argument reference page, this will be available in the next release.

[2018-08-15 07:56] #689 closed

[2018-08-16 19:17] zafarella commented on #701
Thank you @etorreborre for response, let me give it a try, will update

[2018-08-17 07:49] navneetchamala opened #702 "Scala specs2 Test reports for integration tests."
Hi,

   I am trying to generate *.xml test reports for my integration tests (IT). I am able to do it for unit tests by passing the testOptions in my build.sbt file but that doesn't work for my IT since I dont run them using sbt test but use the Runners class. So, I use something like sbt e2e-tests/run to execute my IT.

[2018-08-17 10:46] navneetchamala commented on #702
Thanks for the quick response,
I am trying to run it like this, `sbt <module-name>/run` by passing the arguments through the `build.sbt` file like `testOptions in Test += Tests.Argument("junitxml", "html", "console")` .

I also tried to pass the arguments within the run method that I've overridden like :
[code]

Neither of them worked. Could you help me with an example if my implementation is itse

[2018-08-17 11:16] peyerc opened #703 "Jenkins xUnit cannot parse JUnit XML with a time value in exponential notation"
In our JUnit XML Output we have time values in exponential notation which cannot be parsed by the Jenkins plugin xUnit. Is this something, which can be considered as bug or is our test time value not supported?

[code]

[2018-08-17 15:25] etorreborre commented on #702
I'm not sure I understand. If you are running `sbt <module-name>/run` method that means that you have a `main` method in your `<module-name>` isn't it? What is inside this `main` method?

[2018-08-17 15:26] etorreborre commented on #703
In which xml field are you seeing this value?

[2018-08-17 16:17] etorreborre commented on #623
I'm closing this issue for now until someone wants to reopen it and has a clue with what's going on on windows.

[2018-08-17 16:17] #623 closed

[2018-08-21 11:49] peyerc commented on #703
It's in testsuite and testcase:

[code]

[2018-08-21 12:14] etorreborre commented on #703
The code for time formatting is [here](https://github.com/etorreborre/specs2/blob/master/junit/shared/src/main/scala/org/specs2/reporter/JUnitXmlPrinter.scala#L114):
[code]
It is not yet clear to me why it ends up like this. Which Scala/JVM versions are you running on?

[2018-08-21 13:29] etorreborre commented on #703
Also those are *huge* execution times, how is the execution in reality?

[2018-08-23 06:44] peyerc commented on #703
We are using Scala 2.12 with Java 1.8.0_181. SBT has version 1.2.1

The execution time in fact is only 21 ms for a result value of 3.070011625146E9.

`[info] EpisodeCreatorHttpIntegrationTest
[info] Calling the create episode function should
[info]   o return the expected result
[info] SKIPPED
[info]   o return the expected success
[info] SKIPPED
[info] Total for specification EpisodeCreatorHttpIn

[2018-08-23 06:52] peyerc commented on #703
I just realized that we are using an old Specs2 (3.9.4) version on the Jenkins Build in question. When I have results with a more recent version I will update this issue.

[2018-08-29 14:19] peyerc commented on #703
Indeed with a recent version of Specs2 (4.0.3) the problem is gone. Sorry for any troubles caused.

[2018-08-29 14:19] #703 closed

[2018-08-29 19:18] etorreborre commented on #703
No worries I'm glad everything's fixed for you.

[2018-09-27 02:45] SethTisue opened #709 "publish for Scala 2.13.0-M5?"
prereqs:

* [ ] https://github.com/non/kind-projector/issues/79
* ...?

[2018-09-27 03:13] SethTisue commented on #709
fwiw, after publishing kind-projector and scalacheck locally, in specs2 I see:

[code]

[2018-09-27 19:03] etorreborre commented on #709
Weird. I'll check that when other libraries are ready. I suspect that this is all fixable by tweaking the imports (hopefully!)

[2018-09-29 02:16] SethTisue commented on #709
kind-projector 0.9.8 is published for M5

[2018-09-29 14:18] etorreborre commented on #709
Thanks I think I'm only waiting on ScalaCheck now.

[2018-10-09 17:27] adnaanm opened #712 "Class Not Found Exception in IntelliJ"
Hi I'm getting a really frustrating issue all of a sudden where trying to run or debug individual tests gives me a stack trace of

[code]

I've restarted my computer, invalidated caches + restart intellij, removed all IntelliJ configurations. I have no background sbt processes on my system. Why is this happening all of a sudden? It used to work, and I'm able to run the tests perfectly fine through

[2018-10-09 17:51] etorreborre commented on #712
Which specs2 version are you using? With older specs2 version you might not see that your class actually fails to initialize because for example you have some code throwing an exception in a `val` instead of having that code in a `lazy val`.

[2018-10-09 18:48] adnaanm commented on #712
Thank you very much for your reply (and your lib!) - yeah it was basically a problem in my build file, once you mentioned the `val` vs `lazy val` thing I figured it out. Thanks again for your quick response, much appreciated!

[2018-10-09 18:48] #712 closed

[2018-10-09 20:56] SethTisue commented on #709
@etorreborre ScalaCheck 1.14.0 is now available for Scala 2.13.0-M5

[2018-10-09 21:06] kpbochenek commented on #709
@SethTisue
I think according to this ticket https://github.com/rickynils/scalacheck/issues/418 it is only published for jvm.
Dependency for specs2 is `"org.scalacheck" %%% "scalacheck" % "1.14.0" % "test"` which means you need scalajs too.

[2018-10-09 21:18] SethTisue commented on #709
good point. I commented on that ticket asking whether there's some roadblock on the JS side

[2018-10-10 06:53] mkurz opened #713 "JUnit 5?"
Hello,

is it possible to upgrade to latest JUnit 5.3.1?
https://github.com/etorreborre/specs2/blob/9f93c270421a27bec8001d363f69ca02b5c6fa4f/project/depends.scala#L42

[2018-10-10 19:49] kevinmeredith opened #714 "Problem: Throwing Sub-class of scala.util.control.NoStackTrace Appears to Not Fail Test"
Hello!

In the following, it seems to me that testing `net.Test` should fail in the same fashion as `net.Test2`. However, it apparently does not:

[code]

[2018-10-10 20:19] etorreborre commented on #714
Interesting, there might be some special casing of exceptions which does this. I will have a look.

[2018-10-10 20:32] kevinmeredith commented on #714
Thanks, @etorreborre, for taking a look.

My teammate observed this behavior. He further said:

[2018-10-10 21:41] etorreborre commented on #714
Right, I see now the idea is that `Throwables` that are not `Exceptions` are generally `Errors` like OOME or `LinkageError` which I indeed don't try to catch in the test. That being said it must be caught somewhere because it is then silent.

[2018-10-10 21:46] etorreborre commented on #713
What would that bring precisely? I am sorry but I haven't been following very closely the developments with JUnit.

[2018-10-10 21:53] etorreborre commented on #714
Also what is surprising is that sbt displays an error but reports a success eventually.

[2018-10-10 22:01] etorreborre commented on #714
Ok, I found where the reporting was missing. This is fixed on master. Do you need anything like this soon?

[2018-10-11 10:32] gebner commented on #714
We have also been surprised by this behavior (and missed some bugs in the past).  Why are some exceptions ignored at all?  I would have expected a test to fail if there is any error at all, in particular if there's a severe one like `LinkageError` etc.

[2018-10-11 21:04] etorreborre commented on #709
It is at least compiling now for 2.13.0-M5 but some tests, a few, are failing now because, I suspect, of some changes with the Scala collections. Unfortunately I don't have time to investigate that right now.

[2018-10-11 22:31] SethTisue commented on #709
@etorreborre yup, that gets it green in the community build: https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1500/consoleFull 💯🏅👏

[2018-10-12 15:59] kevinmeredith commented on #714
Thanks a lot, @etorreborre! Are you able to please cut a release? Then, I'll upgrade to that version.

[2018-10-12 21:18] etorreborre commented on #714
Done `4.3.5` is out now.

[2018-10-12 21:31] etorreborre commented on #714
Yep let's do it.

[2018-10-12 21:31] #714 closed

[2018-10-17 15:35] SethTisue commented on #709
ScalaCheck has now been published for JS too

[2018-10-18 04:51] SethTisue commented on #709
I see from @xuwei-k's comment at
https://github.com/spray/spray-json/pull/275#issuecomment-430870625 that you published at least some M5 artifacts, is the status that JVM is done but JS is pending...?

[2018-10-18 06:08] etorreborre commented on #709
Yes indeed

[2018-10-24 05:08] vpatryshev commented on #495
Thank you! (Took me time to figure out what the heck is going on...)

[2018-10-26 03:39] SethTisue commented on #709
@etorreborre anything we can help with here...?

if it helps at all, there's now Scala.js 1.0.0-M6 for 2.13.0-M5

[2018-10-26 09:18] etorreborre commented on #709
I'm sick right now but I will check that and publish on Monday latest.

[2018-10-26 11:50] SethTisue commented on #709
feel better! thanks for the update

[2018-10-26 13:04] etorreborre commented on #709
Ok, I released the missing JS artifacts for [`specs2-4.3.5` and scala `2.13.0-M5`](https://oss.sonatype.org/content/repositories/releases/org/specs2/specs2-core_sjs0.6_2.13.0-M5/4.3.5/) from my bed except for the one needing `cats-effect` because the corresponding dependencies are not available yet.

[2018-10-26 14:21] SethTisue commented on #709
our hero! 🤒✊

[2018-10-30 05:25] sanjivsahayamrea opened #716 "specs2 exception on missing .stats file"
We get this exception when running our tests through SBT 1.2.6 with specs 4.3.5:

[code]

It looks like it failed looking for a `.stats` file which was missing for some reason. Once I did a `clean` and ran the tests again they passed.

[2018-10-30 06:06] etorreborre commented on #716
Would you have a way for me to reproduce the issue reliably? Maybe it is a naming problem, maybe it is  another process deleting some files in the `target` directory?

[2018-10-30 21:54] sanjivsahayamrea commented on #716
I've only seen this once. I'll update this issue if it happens again. I guess there's always a possibility that the `.stats` file is missing. Maybe it could be handled without throwing Exceptions?

[2018-10-31 21:19] benhutchison opened #717 "Not sure of status of Async specs for Scalajs"
I raised a discussion on github around [testing code with `Future`s on Scalajs](https://gitter.im/etorreborre/specs2?at=5bc927cfc08b8b306737ee75), and subsequently @bpholt raised [similar needs for `IO`](https://gitter.im/etorreborre/specs2?at=5bd9f3d40445e15fad01a1d7).

Summary is that it's not clearly documented now if async tests work on Scalajs. My own experiment ran into problems. I couldnt f

[2018-11-01 08:54] etorreborre commented on #716
I agree, that's what should be done, a warning should suffice.

[2018-11-01 22:06] sanjivsahayamrea commented on #716
👍

[2018-11-05 07:44] etorreborre commented on #716
I had a better look at this. Actually the error occurs when we cannot *write* the file. I have added better error reporting in that case should that happen again.

[2018-11-05 07:44] #716 closed

[2018-11-05 07:47] etorreborre commented on #658
There are cats matchers now so I'm going to close this issue. Please reopen if you want to add other matchers.

[2018-11-05 07:47] #658 closed

[2018-11-05 07:48] etorreborre commented on #681
I'm closing this for now unless someone wants to pick it up

[2018-11-05 07:48] #681 closed

[2018-11-05 07:49] etorreborre commented on #702
I'm closing this issue now please reopen if you want to discuss it more.

[2018-11-05 07:49] #702 closed

[2018-11-05 08:55] etorreborre commented on #717
I've added the possibility to return `Future[R]` (where `R : AsResult`) in an example on master. I have published a version where you can use futures in a mutable spec if you want to try: `4.3.5-78abffa2e-20181150936`. The drawback is that you cannot set retries or timeouts specifically for a given example.

I still need to make sure this will all work with immutable specs as well.

[2018-11-05 10:44] benhutchison commented on #717
From a first try, seems to be working for me in scalajs :)

One problem I hit. I couldn't pass an implicit EC like on [your example](https://github.com/etorreborre/specs2/commit/78abffa2e8fa312143eaf14441adf46484c1b093#diff-d4b502e58184da449c29446b9e95367cR8), it seemed like the Spec's constructor needed to be no-arg, as I got this:
[code]

There's a EC provided at `scala.scalajs.concurrent.JSExec

[2018-11-06 13:50] buzden opened #718 "A seed could not be captured for a ScalaCheck property"
Specs2-4.3.4 introduced (comparing to 4.3.3) a bug which leads to an exception with the following text

It is done when an instance of `org.scalacheck.Properties` or result of `Discipline.checkAll` is used in `def is` in `Specification`. In my case, cats-laws was the source of `Properties` or `Laws#RulesSet` (but I doubt it matters).

Exception's stacktrace is
[code]

[2018-11-07 07:08] etorreborre commented on #717
I think you can use the global EC for ScalaJS specifications: https://stackoverflow.com/questions/32437585/cannot-find-an-implicit-executioncontext-error-in-scala-js-example-app. This should also work for cross JVM/JS specifications since specs2 has its own execution environment in the JVM case.

[2018-11-07 11:21] benhutchison commented on #717
There is an Instantiation Error in there. I don't think your specs can have
implicit as ctor args in scalajs. Not sure why but removing it should work.

On Wed., 7 Nov. 2018, 7:24 pm Eric Torreborre <notifications@github.com
wrote:

[2018-11-07 15:12] buzden commented on #718
I don't know what to think but the problem seems to be more complicated.

While using specs2-4.3.3, I've updated [spire](https://github.com/non/spire)'s project dependency from 0.14.1 to 0.16.0 (or 0.15.0) and was given the same (seemingly irrelevant to this change) error as above. Returning to spire-0.14.1 makes all work.

[2018-11-07 16:31] etorreborre commented on #718
Could that be a difference with the exact ScalaCheck version that ends up being used?

[2018-11-07 16:45] buzden commented on #718
Well, I started experimenting and realized that

- specs2 4.3.3 works nicely with ScalaCheck 1.14.0 but not with 1.13.5
- specs2 4.3.4 works nicely with ScalaCheck 1.13.5 but not with 1.14.0

(both combinations require spire to be 0.14.1)

[2018-11-07 16:54] buzden commented on #718
Well, everything is even more strange. I realized that I have different versions for cats-laws (it was 1.1.0) and cats-core (1.4.0). When I made cats-laws to be 1.4.0 too,

- specs2 4.3.3 started to work with both ScalaCheck 1.13.5 and 1.14.0
- specs2 4.3.4 started to work with ScalaCheck 1.14.0 (becoming failing to work with 1.13.5)

[2018-11-08 07:44] etorreborre commented on #718
So in some cases specs2 `4.3.4` works with ScalaCheck `1.14.0` and in some cases it doesn't? Is this something which you could reproduce in a small project? The thing I could do right now if you are blocked is push a `4.3.4-xxx` version which does not support printing the seed when it can't be captured instead of throwing an exception.

[2018-11-09 14:33] buzden commented on #718
I feel myself stupid now but I realized that the topic-staring exception is raised only when tests are being run from IntelliJ IDEA. Running using `sbt test` never crashes. And this seems to correlate with the order of entries of the module ([it's a very old bug](https://youtrack.jetbrains.com/issue/SCL-10615)), but I'm not sure enough. This clarifies strange thing of why one combination of versio

[2018-11-09 14:50] buzden opened #720 "Partial information when one test infinitely loops"
Consider that specs2 is used with `ScalaCheck` and specification extends typelevel's `Discipline`. Consider that `def is` contains the discipline's `checkAll` call. I.e.,

[code]

This means that a single item inside the `def is` corresponds to several tests.

If one particular test inside these tests loops infinitely, then the problem is that being run with `sbt test`, specs2 does not print any i

[2018-11-12 08:10] etorreborre commented on #720
Can you create a small project reproducing the issue please? I would like to play with it. There might already be several options we can use (including putting a simple `sequential`) to catch this issue.

[2018-11-15 02:47] benhutchison commented on #717
I think this is where the `Nil` list of `paramTypes` is coming from: https://github.com/etorreborre/specs2/blob/master/common/js/src/main/scala/org/specs2/reflect/Classes.scala#L16

[2018-11-19 20:21] zafarella opened #721 "[Feature request] Introduce test dependency"
would be really useful to have such feature

[2018-11-19 21:44] etorreborre commented on #721
Could you please elaborate? What would be the use case? What would be the syntax? What would be the execution model?

[2018-11-20 15:41] buzden commented on #720
Sorry for retarding! Please find [here](https://github.com/etorreborre/specs2/files/2600402/small-bad-monad.zip) an archive with a small reproducing project.

When this project is tested using IntelliJ IDEA, I can see that 11 tests have passed and that tests are still pending (although, never ending and not showing the name of infinitely looping test).

![idea-shows-succ-tests](https://user-images

[2018-11-22 19:53] benhutchison commented on #717
Related:
https://github.com/scala-js/scala-js/issues/2733
https://github.com/sjrd/scalajs-reflect

Getting the constructor signature of the Test class doesn't seem easy ATM, which is needed to decide if 0- or 1- param; it's not available from its `ClassTag` AFAIK.

There seems a workaround - don't take an implicit EC and just use the global one, in specs that need be run across JS/JVM.

[2018-11-23 12:45] etorreborre commented on #717
Yes I think that's the way to go for now. This is hopefully won't be a big deal

[2018-11-23 18:55] benhutchison commented on #717
Ok with this decided, I think this issue can be closed and a build published, my experience is that the async tests worked fine

[2018-11-23 19:14] #717 closed

[2018-11-26 07:58] etorreborre commented on #720
Thank you for this small project. One thing you can do is to use the `ExamplesTimeout` trait decribed [here](https://etorreborre.github.io/specs2/guide/SPECS2-4.3.4/org.specs2.guide.TimeoutExamples.html) and pass `timeout 100` (`100 ms`) on the command line. Then you should see
[code]

[2018-11-27 19:07] SethTisue commented on #709
I pinged the cats-effect crew at https://github.com/typelevel/cats-effect/issues/66

[2018-12-04 20:48] zafarella commented on #721
Sorry missed your comments. So, what i had in mind is execution of one test to be dependent on another test, similar to what testNG have (`http://testng.org/doc/documentation-main.html#dependencies-with-annotations`)

[2018-12-05 01:52] terrymunro commented on #718
I don't know if it helps but I'm also seeing this issue. Running in Intellij and running in build tool (though we're using Pants as our build tool)
So is it perhaps something to do with JUnit? I haven't got a simple reproduction yet either. If I can make one I'll post it

[2018-12-05 07:30] etorreborre commented on #721
Something you can do is to group your tests and insert steps in between with `stopOnFail`: https://etorreborre.github.io/specs2/guide/SPECS2-4.2.0/org.specs2.guide.Execution.html#stop-the-execution. Then the rest of the specification will be skipped if the first group of examples doesn't pass.
The advantages over TestNG is that you don't have to explicitly declare groups and that in a given group

[2018-12-05 07:31] etorreborre commented on #718
That would be nice if you have a repro, thanks.

[2018-12-05 08:46] terrymunro commented on #718
I also feel stupid because I couldn't reproduce then set off to figure out why it wasn't working in my project only to discover I had pinned scalacheck to < 0.14 and forgot to remove that when I upgraded discipline+specs2 to latest.
My apologies for the false alarm. :bowing_man:

[2018-12-06 15:43] zafarella commented on #721
Thank you @etorreborre , let me give it a try. Will update whenever will have a chance

[2018-12-11 18:02] benhutchison commented on #717
The support for async Scalajs tests is currently only in `"specs2-core" % "4.3.5-78abffa2e-20181150936"`, please publish a 4.3.6 version if this is a now supported feature.

[2018-12-17 08:30] etorreborre commented on #717
Sure, I'm really behind on my publishing... I'll do that today

[2019-01-09 10:24] mkurz commented on #709
`cats-effect` already published a release with Scala `2.13.0-M5` support:
https://github.com/typelevel/cats-effect/issues/66#issuecomment-445021159

[2019-02-04 15:38] buzden opened #728 "`showtimes` option seems to print incorrect data"
_Disclaimer: since, we are talking about wall time intervals measured locally in unreapeatable circumstances, this all may be a nut._

After #720 I tried to use `ExamplesTimeout` and maybe I'm using it in a wrong way. But what I can see is that when using `showtimes` option with the `timeout` one when using `ExamplesTimeout`, printed time values strangely depend on the given timeout. In the [examp

[2019-02-05 01:18] bpholt commented on #717
I'm working on #724 and I was trying to build some implicit cats-effect instances based on the execution context in the specs2 `ExecutionEnv`, and I ran into this issue on the JS side. I got it working with this workaround, though:

[code]

AFAICT this lets me require `(implicit ee: ExecutionEnv)` in the constructor of both JVM and JS tests.

[2019-02-05 17:10] buzden commented on #728
I don't know whether this is related or not, but usage of `ExamplesTimeout` even without any `timeout` option seems to increase testing time by approximately factor 12!

[2019-02-05 18:22] etorreborre commented on #728
That's weird indeed. I'm on vacations right now I will have a look at this when I come back.

[2019-02-11 08:15] etorreborre commented on #728
I suspect that the wait the `terminate` matcher works internally is flawed. It runs both the action to check for termination + a timer and I suppose it waits until the timer is finished to see if the original action terminated ok. I'll try to tackle that during the week

[2019-02-13 07:35] etorreborre commented on #728
The solution is indeed to change the implementation of the `ExamplesTimeout` trait with:
[code]
Now you should see proper timings.

[2019-02-13 07:36] #728 closed

[2019-02-13 10:33] buzden commented on #720
By the way, I realized that setting `logBuffered` option to `false` in `build.sbt` as it is described [in the guide](https://etorreborre.github.io/specs2/guide/SPECS2-4.3.4/org.specs2.guide.Runners.html) actually solves issue of printing information along the execution. So, I'm closing this.

[2019-02-13 10:33] #720 closed

[2019-02-26 10:41] francisdb commented on #591
Tried some things and first blocker is [scalacheck not yet being published for scala native](
https://github.com/rickynils/scalacheck/issues/396)

[2019-02-27 00:14] lolgab commented on #591
Scalacheck author didn't reply about publishing scalacheck native on github issue, so I published myself a version on maven under my groupid: "com.github.lolgab" %%% "scalacheck" % "0.4.1"

[2019-02-27 17:23] lolgab commented on #591
I published scala-parser-combinators artifact too: "com.github.lolgab" %%% "scala-parser-combinators" % "1.1.2"

[2019-02-28 12:35] samthebest opened #729 "Test that should fail, passes"
The following does not fail the tests, so exit code is still 0, `$? = 0`

[code]

One has to actually read the logs and see the error!  Obviously for automated builds this is a big problem.

Version "4.3.4"

[2019-02-28 13:02] etorreborre commented on #729
Which command do you use to run the tests? I've just tried `sbt test` on a project having that spec and with `specs2-4.4.1` and I get `1` as the exit code. Can you try to upgrade `specs2` to a more recent version maybe?

[2019-02-28 13:23] samthebest commented on #729
@etorreborre  Thanks, updating to 4.4.1 fixed the issue.

[2019-02-28 13:23] #729 closed

[2019-02-28 13:29] etorreborre commented on #729
👍

[2019-03-05 07:51] avdv opened #731 "Times reported in XML for testcases are wrong"
I am using specs2 version 4.4.1.

When running with `showtimes` the printed times are OK:
[code]

But looking at the test-report in `target/test-reports/controllers.ConvertControllerSpec.xml` the times are totally off:
[code]

In reference to #613, I am not using `sequential`.

[2019-03-05 09:50] avdv commented on #731
I had a quick look, attaching a debugger. The problem seems to be that the timers at https://github.com/etorreborre/specs2/blob/master/junit/shared/src/main/scala/org/specs2/reporter/JUnitXmlPrinter.scala#L45 are still running (timer.isStarted is `true`).

[2019-03-05 10:11] #731 closed

[2019-03-05 10:13] etorreborre commented on #731
Thanks for having a look. The way the times were taken was quite wrong. I have a fix for it, wait a bit and a new version will be published later on today.

[2019-03-05 10:25] avdv commented on #731
Awesome! Thank you Eric. :100:

[2019-03-05 10:44] avdv commented on #731
BTW, while you're at it, I noticed the scaladoc for [Timer.stop](https://github.com/etorreborre/specs2/blob/96211c1f0a4519b93c36f1d1f25c8b4fe8fd69c0/common/shared/src/main/scala/org/specs2/time/Timer.scala#L31-L35) is wrong too. It does not return a String at all.

[2019-03-05 11:17] etorreborre commented on #731
Thanks I will change that too (and put a return type, I didn't use to do that when I started Scala!). Also you might have to be a bit patient. There's a failing spec that I need to investigate after this change.

[2019-03-05 13:28] avdv commented on #731
No problem, it's not a big deal really. I just recently noticed CircleCI reported the slowest test alone took 33 seconds which piqued my interest. Historically, the test reports on our old Jenkins instance also reported such long runtimes, but nobody noticed until now.

[2019-03-07 20:31] SethTisue opened #732 "tests hanging in Scala community build"
seen at e.g. https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/4231/ . it's been happening consistently. I can work around it for now by rewinding to 96211c1f0a4519b93c3

[2019-03-10 21:19] etorreborre commented on #732
Thanks @SethTisue I'm going to have a look at that. There's indeed a one line change which seems to affect 2 specifications, either one passes and the other one blocks or one fails and the other one passes.

[2019-03-11 00:07] etorreborre commented on #732
@SethTisue this commit should the 2 failing specs: 72d897c  but let's wait for the CI to tell us :-)

[2019-03-11 10:45] avdv commented on #731
FYI, I did just try version 4.5.0; looks good to me. :+1:

[2019-03-11 10:51] etorreborre commented on #731
Thanks for the feedback. I'm going to publish a `4.5.1` though because I think I broke a piece of some exotic functionality (random execution of examples).

[2019-03-11 11:02] avdv commented on #731
OK, I'm holding my breath until the official announcement anyway... :wink:

[2019-03-11 11:43] etorreborre commented on #731
OK, just announced it: https://twitter.com/specs2org/status/1105071256112631809

[2019-03-11 12:06] avdv commented on #731
Thank you! :bouquet:

[2019-03-18 18:54] SethTisue commented on #732
let's see how
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/4267/ (404 til Jenkins wakes up) does

[2019-03-19 06:50] etorreborre commented on #732
The build is failing but apparently not because of specs2

[2019-03-19 07:58] #732 closed

[2019-04-03 10:39] avilshadow opened #734 "exception when mocking method, from previous mock"
Sorry, seems I can`t make the title more readable.
the main inconvinience with default mocking way in org.specs2.mock.Mockito
this "returns" looks like call method before mock it.
yes I could use doReturn and etc.. bet it is not so convinient.

see [scastie](https://scastie.scala-lang.org/EvqsV8R8TzKO4yq6Uma6aw) or put it in test

[code]

[2019-04-03 11:39] etorreborre commented on #734
I think you need to reset your mock in that case, with `Mockito.reset` (https://static.javadoc.io/org.mockito/mockito-core/2.25.1/org/mockito/Mockito.html#17). Don't you?

[2019-04-04 13:18] avilshadow commented on #734
yes, possible workaround. a bit better as for me use doReturn().when() mocking style, which has better behaviour

[2019-04-04 13:19] #734 closed

[2019-04-04 16:02] SethTisue opened #735 "publish for Scala 2.13.0-RC1"
RC1 is on Maven Central

[2019-04-05 23:03] SethTisue commented on #735
just waiting on kind-projector and shapeless now, other deps [have published](https://github.com/scala/make-release-notes/blob/2.13.x/projects-2.13.md)

[2019-04-06 16:33] SethTisue commented on #735
kind-projector has published

[2019-04-06 17:41] SethTisue commented on #735
shapeless has published, I think you're next!

[2019-04-07 10:07] etorreborre commented on #735
Hi @SethTisue I think I have one issue with ScalaCheck: https://mvnrepository.com/artifact/org.scalacheck/scalacheck. It has been published for scala-js `1.0.0-M3` but only `1.0.0-M7` supports scala `2.13.0-RC1`. Is it possible for scalacheck to upgrade its dependencies first or do you know a workaround that I could apply? Because otherwise I'm getting `org.scalacheck#scalacheck_sjs1.0.0-M7_2.13.0

[2019-04-07 10:19] SethTisue commented on #735
You could ask on the ScalaCheck ticket, one other person has asked already.

Regardless, I suggest you go ahead and publish the other targets regardless, that’s what a couple of other projects have done. I think for everyone, or many projects anyway, to publish on sjs 0.6 only is sufficient to validate RC1, which is what we’re trying to do this round anyway. Let’s press forward with what we’ve got

[2019-04-07 11:37] etorreborre commented on #735
Ok, I realized that scala-js `0.6.27` was the dependency I needed to use. I have now released `specs2-core-2.13.0-RC1-4.5.1` and others except the modules depending on cats.

[2019-04-07 11:37] #735 closed

[2019-04-16 13:55] renjith4 opened #737 "[Feature Request] Have a global Setup and TearDown for whole test Suite to manage expensive resource like containers/db etc"
It will be good to have a global setup and teardown for whole test suite in addition to the existing setup and teardown for each specification (https://etorreborre.github.io/specs2/guide/SPECS2-2.4.17/org.specs2.guide.Structure.html#Global+setup%2Fteardown). This will be very similar to  @BeforeClass in Junit and will be useful to manage expensive resources like a Db or a testContainer. The approa

[2019-04-16 16:28] etorreborre commented on #737
The only way to achieve this right now I think is to use a [`SpecificationsFinder`](https://github.com/etorreborre/specs2/blob/master/core/shared/src/main/scala/org/specs2/runner/SpecificationsFinder.scala) in a specification where the first `step` is the global init step, then all the found specifications are inserted before one last `step` to shutdown resources.

Otherwise the main difficulty I

[2019-04-22 21:14] mslinn opened #738 "Publish for Scala 2.13-RC1?"
I see the version for 2.13-M5. Any chance of publishing Specs2 for the RCs?

(specs2-core  and specs2-junit)

[2019-04-26 08:10] etorreborre commented on #738
I published it 2 weeks ago: https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13.0-RC1/4.5.1, can't you access it on Sonatype?

[2019-04-26 08:42] mslinn commented on #738
Ah, you are correct, thank you!

[2019-04-26 08:42] #738 closed

[2019-05-01 11:18] cheevo commented on #623
Still happening on windows with 4.5.1
cmd:         sbt clean coverage test
error:        [error] No template file found at /C:/useful/....spec2.html
cause :      leading "/" causing issue.
dependency :    "org.specs2" %% "specs2-html" % "4.5.1" % Test ."org.specs2" %% "specs2-html" %

[2019-05-02 06:11] etorreborre commented on #623
I'm sorry you're also having this issue, did you try the work-around [here](https://github.com/etorreborre/specs2/issues/623#issuecomment-354655213)? And otherwise would you mind spending some time working with me to debug this issue since I don't have a Windows machine?

[2019-05-02 13:14] cheevo commented on #623
The workaround testOptions in Test += Tests.Argument("html.outdir","C:/verify")
has same issue No template file found at /C:/verify/ . The leading edge is always added.
I'm willing to test any patch you may have to resolve this issue.

[2019-05-06 19:14] afine opened #740 "Multiple parameter lists and by-name parameters breaks stubbing"
I ran into this issue with both 4.3.4 and 4.1.0:

We would like to stub a method that looks similar to this:
[code]

by doing something like:
[code]

Any invocation of the `getFromCache` method results in a `null` value on 4.3.4.

On 4.1.0 we see:
[code]

After some debugging I believe this has to do with the order the matchers are "reported" to matcher storage.

I can work around the issue by doi

[2019-05-07 06:10] etorreborre commented on #740
I'm am going to look into this but you are a good candidate for testing the migration to `mockito-scala` :-). Indeed the support of Mockito is going to be deprecated in specs2 in favour of `mockito-scala`.

Please try to use `org.mockito.mockito-scala-1.4.0-beta.8` and talk to @bbonnano on [gitter](https://gitter.im/etorreborre/specs2) to get some help with the migration (you can already find some

[2019-05-10 22:30] afine commented on #740
In order to close the loop on this and avoid leaving you hanging I wanted to let you know that this code has been refactored so these mocks would not be necessary and I will likely not have the time to test `mockito-scala` in the immediate future.

In the event I run into similar issues in the future I will definitely give it a shot.

[2019-05-11 07:08] etorreborre commented on #740
Great thanks for letting me know. I'm going to bet on the non-return of this issue so that I can focus on other things :-).

[2019-05-20 08:11] dwijnand opened #741 "Publish for Scala 2.13.0-RC2"
See https://github.com/scala/make-release-notes/blob/2.13.x/projects-2.13.md for both the state of specs2's dependencies and also update it when this issue is resolved.

Blocked on (non-exhaustive):
- [x] https://github.com/typelevel/kind-projector/issues/103
- [ ] https://github.com/rickynils/scalacheck/issues/471

[2019-05-20 22:43] SethTisue commented on #741
ScalaCheck has published: https://repo1.maven.org/maven2/org/scalacheck/scalacheck_2.13.0-RC2/1.14.0/

[2019-05-21 05:50] etorreborre commented on #741
Done thanks to @rossabaker: https://github.com/etorreborre/specs2/pull/742

[2019-05-21 05:50] #741 closed

[2019-05-21 06:06] dwijnand commented on #741
Excellent, thank you.

[2019-05-21 06:11] dwijnand commented on #741
@etorreborre for the avoidance of doubt, you closed the issue because you're publishing now?  I'm not seeing anything at https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13.0-RC2/ right now.

[2019-05-21 06:27] etorreborre commented on #741
Yes jars are on the way but my connection is slower than I expected :-)

[2019-05-21 06:47] etorreborre commented on #741
Here it is: https://oss.sonatype.org/#nexus-search;quick~specs2-core_2.13.0-RC2

[2019-05-30 15:43] SethTisue opened #743 "publish for Scala 2.13.0-RC3"
previously: #741 (issue), #742 (PR)

I think your dependencies have published except for kind-projector (https://github.com/typelevel/kind-projector/issues/105), but since kind-projector is compile-time-only, as far as I can see it would be safe to just use the RC2 version this time

EDIT: oh, and Shapeless

[2019-05-30 15:51] SethTisue commented on #743
new PR:#744

[2019-05-31 05:09] SethTisue commented on #743
kind-projector and Shapeless have now published

[2019-06-04 16:45] SethTisue commented on #743
@etorreborre this is done, right? or is it still open because there's some piece that didn't happen?

[2019-06-04 17:17] etorreborre commented on #743
Done, I just forgot to close the issue.

[2019-06-04 17:17] #743 closed

[2019-06-08 11:16] raboof opened #745 "Publish for 2.13.0"

[2019-06-08 12:47] symbiont-eric-torreborre commented on #745
Thanks for putting this issue on my radar, I will publish as soon as my dependencies are published.

[2019-06-10 10:39] SethTisue commented on #745
ScalaCheck 1.14.0 has now been published for Scala 2.13.

[2019-06-10 12:19] symbiont-eric-torreborre commented on #745
Thanks @SethTisue I'm now only waiting on cats to publish their artifacts (and ideally kind-projector but I can work around that).

[2019-06-10 13:20] SethTisue commented on #745
kind-projector published, but under a new version number: 0.10.3

[2019-06-10 13:28] symbiont-eric-torreborre commented on #745
Thanks

[2019-06-10 15:37] etorreborre commented on #745
Done.

[2019-06-10 15:37] #745 closed

[2019-06-10 16:02] SethTisue commented on #745
https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13/4.5.1/ :+1:

[2019-06-20 13:42] ssanj opened #747 "awaitFor does not fail on timeout for certain matchers"
This is a bit of a weird one but I can reproduce it consistently.

I'm seeing an issue when I use the `beGreaterThanOrEqualTo` matcher with a Future and an `awaitFor` that has a timeout. If the Future timesout, the test passes. With another matcher like `beEqualTo` the test fails when the Future times out. I expect the test to fail if the Future timesout.

I have added a sample test below:

[code]

[2019-06-20 15:24] #747 closed

[2019-06-20 15:25] etorreborre commented on #747
Hi Sanjiv, thanks for the report with a fully working example! I fixed this and am currently publishing a fix (`4.5.1-924020314`) in case you need it.

[2019-06-21 13:44] ssanj commented on #747
Wow! Thanks for fixing this so quickly! 👍

[2019-06-25 15:55] beaushinkle opened #748 "Fragments apply method throws stackoverflow with large amounts of fragments"
When running something like:
[code]
it will throw a stackoverflow. Digging in a bit, the underlying `emitSeq` implementation doesn't look like it's tail recursive.

sample project: https://github.com/beaushinkle/specs2-stackoverflow

trace:
[code]

Related: this problem happens intermittently in a larger scala project that I wasn't able to reproduce in a minimal setting, but using a fold:

[code]

[2019-06-26 06:48] #748 closed

[2019-06-26 06:49] etorreborre commented on #748
This is now fixed on master. Do you need a release? Otherwise you can also give a bit more stack space to your tests. I tested with `-Xss4M` in `specs2` and it works ok.

[2019-06-26 13:45] beaushinkle commented on #748
A release would be very lovely. Thanks a million for the hasty fix!

[2019-06-26 16:11] symbiont-eric-torreborre commented on #748
`specs2-4f247eaf0` is now available with the fix.

[2019-06-27 22:05] jcazevedo opened #749 "Quotes are not added to Options in failure messages in Scala 2.13"
In Scala 2.13, `Option` extends `IterableOnce` and `TraversableOnce` is a (deprecated) alias to `IterableOnce`. This creates an inconsistency with the output of failure messages including `Option`s, since `Option`s become unquoted in Scala 2.13, but quoted in Scala versions below 2.13:

https://github.com/etorreborre/specs2/blob/8305db76c5084e4b3ce5827ce23117f6fb6beee4/common/shared/src/main/scala

[2019-06-28 06:15] etorreborre commented on #749
I would say let's embrace 2.13 and make `Option` quoted. And yes I would be happy with a PR :-)

[2019-06-28 23:52] jkleckner opened #750 "[Feature Request] Ability to specify ScalaCheck parameters such as minSuccessfulTests for each property"
Some properties of `ScalaCheck` are heavyweight and some less so.

It would be very nice to have a way to set the `minSuccessfulTests` and `maxDiscardRatio` inline with a test or at the class level.

[2019-06-29 08:40] symbiont-eric-torreborre commented on #750
Do you mean this: https://etorreborre.github.io/specs2/guide/SPECS2-4.3.4/org.specs2.guide.UseScalaCheck.html#test-properties?

[2019-06-29 22:23] jkleckner commented on #750
Uh, yes thanks.  The disconnect between `minTestsOk` as an argument and `minSuccessfulTests` as a parameter in `ScalaCheck` threw me off in my searching...

[2019-06-29 22:23] #750 closed

[2019-06-30 11:50] symbiont-eric-torreborre commented on #750
Yes that's my fault for preferring shorter names :-)

[2019-07-02 00:24] jkleckner commented on #750
@symbiont-eric-torreborre Not a problem.  Thank you very much for specs2.  I created a trivial MR #752 to make note of this.

[2019-07-11 08:56] peter-empen opened #755 "SpecificationsFinder omits specs with comments in the package definition"
Looking into why a specific spec was not included by the finder we found out that it will be included if we remove a  comment like in
[code]
Although rarely needed, it would be nice one could use comments there while relying on finder results.

[2019-07-11 11:56] symbiont-eric-torreborre commented on #755
That's the benefit of regex parsing instead of relying on a proper language parser :-). I will see if I can get around this but don't expect it too soon because I'm on vacation at the end of the week and quite busy until then.

[2019-07-11 12:05] peter-empen commented on #755
No hurry, we moved the comment to the top of the file. So it's just a precaution for the future.
Have a nice vacation!

[2019-07-19 02:27] jroper opened #757 "Nested mutable examples not running with Scala 2.13"
This spec here:

https://github.com/jroper/play-geojson/blob/master/src/test/scala/au/id/jazzy/play/geojson/ExampleSpec.scala

Has examples nested two deep (ie, `"foo" should { "do something" in { "bar" in { ... } } }`. Using specs 4.6.0, this runs fine with Scala 2.11 and 2.12, but with 2.13, it doesn't run at all, it's as if the specs aren't there. Not sure if this is a Scala issue, specs2 issue

[2019-07-20 19:16] symbiont-eric-torreborre commented on #757
Hi James, I'm on holidays at the moment for 10 more days. I will have a look at that when I come back and unfortunately I have no idea of what is wrong there (also kind of annoyed that the current test suite does not cover this case)

[2019-07-20 19:39] #740 closed

[2019-07-20 19:39] #718 closed

[2019-07-20 20:30] etorreborre commented on #757
Actually I couldn't resist having a quick look. It seems that changing `object ExampleSpec` to `class ExampleSpec` fixes the issue. At least you have a work-around and I have a small reproducible case to investigate.

[2019-07-22 00:55] jroper commented on #757
Thanks @etorreborre! Please enjoy your holiday, don't let my problems get in your way :)

[2019-07-29 08:42] #755 closed

[2019-07-29 09:03] etorreborre commented on #757
Wow, I need further investigation but it seems that Scala 2.12 was actually buggy w.r.t the initialization of objects where the code in the body of an object would run twice and this would discover the spec fragments properly. Whereas in 2.13 the initialization of an object is done only once and now the code discovering the fragments is buggy. This can only encourage me to remove that complicated

[2019-08-02 23:45] leifwickland commented on #421
Thanks for the answer, @etorreborre. I read the execution env and future matchers pages in the guide and didn't figure it out unit I saw the example above.

[2019-09-06 15:41] mantasak opened #764 "Tests with multi-line names are skipped when using filter"
I am facing an issue that test cases with multi-line names (e.g. using scala triple quote syntax; but not limited to) are being skipped. This only happens when using a test filter.

Given a test case:

[code]

The test with tab in its' name runs just fine with:

[code]

However, I am unable to get the test with new line symbol to run in any way (it is always skipped with pass for the empty test su

[2019-09-06 15:44] symbiont-eric-torreborre commented on #764
It is likely to be an issue with the regex filter yes. I'll have a look at that.

[2019-09-06 15:46] mantasak commented on #764
@symbiont-eric-torreborre I can help with verifying and/or fixing the issue if you want.

In such case, I would appreciate if you could point me to the right direction where I can find the regex matching logic.

[2019-09-06 16:21] symbiont-eric-torreborre commented on #764
I would love to!

The selection code starts [here](https://github.com/etorreborre/specs2/blob/master/core/shared/src/main/scala/org/specs2/specification/process/DefaultSelector.scala#L41).

`matchesSafely` is defined [here](https://github.com/etorreborre/specs2/blob/8305db76c5084e4b3ce5827ce23117f6fb6beee4/common/shared/src/main/scala/org/specs2/text/Regexes.scala#L20) and there are some (basic) t

[2019-09-09 04:57] mantasak commented on #764
Thanks for the guidance @symbiont-eric-torreborre.

It was pretty straightforward to find the cause - [link to code](https://github.com/etorreborre/specs2/blob/8305db76c5084e4b3ce5827ce23117f6fb6beee4/common/shared/src/main/scala/org/specs2/text/Regexes.scala#L22).
Opened a pull request, we can continue the discussion there if anything is not as you would expect.

[2019-09-16 05:23] genrym commented on #764
Hi @symbiont-eric-torreborre .
Can you say when is the next release planned? We would like to have this fix :)

[2019-09-16 11:21] etorreborre commented on #764
Released in `4.7.1`

[2019-09-16 11:21] #764 closed

[2019-09-27 21:08] melgenek opened #775 "Interpolated test exception"
Hi!

I have got a weird exception after upgrading specs2 to 4.7.1. It is reproducible only with scala 2.11.
Version 4.5.1+2.11 works fine, 4.7.1+2.12 as well.

The test can be found here https://github.com/melgenek/iglu-scala-core/blob/issue_37_specs2_4.7.1/src/test/scala/com/snowplowanalytics/iglu/core/SchemaListSpec.scala

Stacktrace:
[code]

[2019-09-28 09:16] etorreborre commented on #775
This looks like an incompatibility in libraries. You probably have an incompatible `scala-parser-combinators` library version on your path. You can diagnose that by with the dependencies plugin: https://github.com/jrudolph/sbt-dependency-graph (if you can make it work with sbt 1.3.x from master).

[2019-09-28 14:46] melgenek commented on #775
Thank you a lot! Json4s also has a transitive dependency on older combinators lib.

[2019-09-28 14:46] #775 closed

[2019-10-20 22:23] dawidchodura opened #781 "Wrong line number in stacktrace"
I'm having trouble configuring specs2 so that the stacktrace of the exception would contain the correct line number, where it occurred.

I've prepared the minimal example (specs2 4.8.0, scala 2.12.10) with the exception thrown on line number 11:
https://github.com/dawidchodura/specs2-exception-sscce/blob/master/src/test/scala/example/ExampleTest.scala#L11

When I run `mvn clean install` I get the

[2019-10-21 14:41] etorreborre commented on #781
Hi, thanks for reporting this issue which seems to be several issues at once. I tried your code with sbt and things seem to work fine so I suspect the combination of maven+junit+Scope must be fatal here. Unfortunately I can't put my finger on it yet. I will continue digging.

[2019-10-28 07:58] symbiont-eric-torreborre commented on #781
Sorry for the delay. I've been doing some investigation but I don't have good news :-(.

First of all you can specify that you want to display `fullStackTraces` by setting a system property in you pom file, this works fine:
[code]
Then I checked the stack trace of the exception that specs2 forwards to Maven/Surefire/JUnit and the stacktrace is complete, something like
[code]
Unfortunately when mav

[2019-10-28 08:00] etorreborre commented on #781
Sorry for the delay. I've been doing some investigation but I don't have good news :-(.

First of all you can specify that you want to display fullStackTraces by setting a system property in you pom file, this works fine:
[code]
Then I checked the stack trace of the exception that specs2 forwards to Maven/Surefire/JUnit and the stacktrace is complete, something like
[code]
Unfortunately when maven

[2019-10-28 08:00] #781 closed

[2019-11-03 18:25] rwhaling opened #782 "publish 4.8.0 for Scala Native"
could you publish specs2 4.8.0 to Maven Central for Scala Native?  the most recent version published for Native is 4.7.0, and we need 4.8.0 to be able to support SN in Zio and a few other libraries - happy to help out in any way that I can!

Zio PR:
https://github.com/zio/zio/pull/1428

cc @sideeffffect

[2019-11-03 21:52] symbiont-eric-torreborre commented on #782
Hi Richard, I tried to publish the native jars tonight but I have [an issue with my signing key](https://issues.sonatype.org/browse/OSSRH-52848). I tried different things and it seemed to work at some stage but it eventually doesn't. I will have to wait on the Sonatype team.

[2019-11-04 20:29] sideeffffect commented on #782
@symbiont-eric-torreborre could you please send us link to the failure? Maybe we could help :)

[2019-11-04 21:26] etorreborre commented on #782
Yay, I was able to publish right now. Possibly the key servers had an issue yesterday. Thanks for proposing your help!

The artifacts are will available at: https://repo1.maven.org/maven2/org/specs2/specs2-core_native0.4.0-M2_2.11/4.8.0 once the Sonatype <-> Maven central is done.

[2019-11-04 21:26] #782 closed

[2019-11-04 21:33] rwhaling commented on #782
thanks so much!

[2019-11-12 16:37] izcet opened #783 "AllExpectations silences single skipped test"
Take the following code example, `ExampleSpec.scala`
[code]
If you compile and run this, you will get
[code]
The sort of behavior that would be expected (or at least that I would expect) can be achieved if you remove the trait `with AllExpectations`
[code]

I wasn't able to single out the source of the bug from some casual probing.

[2019-11-12 23:16] etorreborre commented on #783
That's a good catch, I have a fix but I need to polish it. The source code for this feature is indeed quite complex, thanks to side-effects, which are the only way to do this magic of collecting all the expectations.

[2019-11-13 07:59] etorreborre commented on #783
I pushed a fix to `master`, do you need it to be published soon?

[2019-11-13 07:59] #783 closed

[2019-11-13 15:51] izcet commented on #783
Thanks @etorreborre! It's not urgent, but what's the time estimate for when it would get published?

[2019-11-14 09:33] etorreborre commented on #783
I published `4.8.1`: https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13/4.8.1/

[2019-11-29 12:14] Synesso opened #788 "Performance degradation/non-termination on upgrade to 4.8.0"
I haven't been able to isolate the cause, but upgrading

[code]

Causes my test suite to take significantly longer and thrash the CPU. Travis jobs often time out.

Upgrading to 4.8.1 did not resolve this.

https://github.com/Synesso/scala-stellar-sdk/commit/be3b74409977abdb7c7d4009478cf550a6680a90

[2019-11-29 13:07] etorreborre commented on #788
Not good :-(. I will try to see what could have contributed to this but I won't be able to devote much time because my next 2 weeks are going to be very busy. Let's see, hopefully something obvious will stand out.

[2019-11-29 14:10] etorreborre commented on #788
I had a quick look at the differences between `4.7.1` and `4.8.1`: https://github.com/etorreborre/specs2/compare/c99945291...68ecf16cc. Most of the commits are dependencies upgrades but I think the best would be if you could check out specs2, revert to one of these old commits, publish locally and see if you can see the performance drop down. By bisecting on the right commit we will get a lot more

[2019-11-30 05:02] Synesso commented on #788
[code]

[2019-11-30 09:02] etorreborre commented on #788
Great find. Since ScalaCheck `1.14.2` is out we can try that one instead or maybe come back to `1.14.0`?

[2020-01-07 12:14] etorreborre opened #797 "The evaluation order is wrong for Applicative instances"
This leads to [linked specifications being executed in the wrong order](https://gitter.im/etorreborre/specs2?at=5e0e1ca70fd3413f4c95e7e3).

[2020-01-07 14:04] #797 closed

[2020-01-08 03:43] SethTisue opened #798 "new test failures on master (SpecificationsFinderSpec, SourceFileSpec)"
[code]

this turned up in the Scala community build: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/5360/artifact/logs/specs2-build.log

(but no worries, I can just use an older commit for now)

[2020-01-08 07:24] #798 closed

[2020-01-08 07:25] etorreborre commented on #798
Thanks Seth this was the result of an incorrect fix I did in a rush yesterday.

[2020-01-24 09:02] etorreborre commented on #757
I'm closing this issue. The code which is causing this will disappear anyway in the next major version of specs2.

[2020-01-24 09:02] #757 closed

[2020-02-01 16:13] phdoerfler opened #801 "Examples on Homepage vs. Small Screens"
A few nights ago I wanted to show someone how cool specs2 was. There was no computer nearby so I used my phone. Unfortunately the examples on the website kept scrolling out of the screen and are not given sufficient screen space for proper viewing. Numerous additional line breaks are introduced because the code area only uses maybe 50% to 70% of the screen's width.
This did not exactly help sellin

[2020-02-01 16:34] etorreborre commented on #801
I can only agree there but I unfortunately don't have the time nor the skills to fix this :-(. My main goal at the moment is to finish [a big batch of internal simplifications for the next big release](https://medium.com/@etorreborre_99063/becoming-reasonable-361d7f674ee0). Maybe when I finish this I can try a remodel. But I don't realistically expect to start this in the next 6 months.

[2020-02-06 16:06] quartin opened #805 "Broken Examples link"
Hey! I was navigating in the website and noticed it isn't published with the latest release, it is still pointing to `4.6.0`. This wouldn't be a big problem, but this version in particular has a broken examples link (points to `https://github.com/etorreborre/specs2/tree/SPECS2-4.6.0/examples/src/test/scala/examples/jvm`).

[2020-02-07 07:59] etorreborre commented on #805
Hi, thanks for reporting this, I have now fixed those links.

[2020-02-07 07:59] #805 closed

[2020-02-17 17:15] #749 closed

[2020-02-20 21:48] SethTisue opened #807 "publish for Scala.js 1.0?"

[2020-02-21 07:42] etorreborre commented on #807
I had a look at this last week-end and the issue I found was that scala-parser-combinators didn't have a version 1.0 for Scala.js: https://mvnrepository.com/artifact/org.scala-lang.modules/scala-parser-combinators. Is this something that you could push?

[2020-02-21 16:17] SethTisue commented on #807
ticket is https://github.com/scala/scala-parser-combinators/issues/265 . maybe @Philippus will get to it this weekend; if he doesn't have time, I'll tackle it myself on Tuesday

[2020-02-29 07:01] Philippus commented on #807
It's released now, https://search.maven.org/search?q=scala-parser-combinators_sjs1_2.1.

[2020-02-29 16:43] symbiont-eric-torreborre commented on #807
Thank you @Philippus, I will try to do a release this week-end.

[2020-02-29 16:43] etorreborre commented on #807
Thank you @Philippus, I will try to do a release this week-end.

[2020-02-29 22:38] etorreborre commented on #807
I just released `specs2-4.9.1` for ScalaJS 1.0 (it should be available soon [here](https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13/4.9.1/).

Just one note, I could not publish the additional modules depending on shapeless since there's not a shapeless version for ScalaJS 1.0 yet (AFAIK).

Thanks again @SethTisue and @Philippus for pushing this.

[2020-02-29 22:38] #807 closed

[2020-03-01 20:04] SethTisue commented on #807
Shapeless is available now.

[2020-03-01 21:46] larsrh opened #810 "4.9.1 artifact is broken"
Same issue as typelevel/cats#3313. This is caused by an "unclean" release.

[code]

[2020-03-01 21:46] etorreborre commented on #807
I see that some code has been committed but I don't see any new release: https://mvnrepository.com/artifact/com.chuusai/shapeless. Is it anywhere else?

[2020-03-01 21:47] etorreborre commented on #810
Ok, thanks for the heads-up Lars, I'm going to redo a clean one then.

[2020-03-01 21:53] etorreborre commented on #807
Ok, I just saw Miles's message: https://github.com/milessabin/shapeless/pull/967#issuecomment-593135545. Maybe the artifacts haven't reach Maven's repository yet

[2020-03-01 21:58] etorreborre commented on #807
Got it now :-)

[2020-03-01 22:24] etorreborre commented on #810
Done I've now published `specs2-4.9.2`. Thanks again!

[2020-03-01 22:24] #810 closed

[2020-03-01 22:25] etorreborre commented on #807
And... `specs2-4.9.2` is now published, hopefully with everything working (see #810)

[2020-03-25 00:04] tmccombs opened #815 "Missing pages in scaladocs"
Many pages seem to be missing in the scaladocs for versions more recent than 4.3.4. For example https://etorreborre.github.io/specs2/api/SPECS2-4.8.3/org/specs2/mock/Mockito.html returns a 404. Even though searching for Mockito gives me a link there.

[2020-03-29 17:21] etorreborre commented on #815
Thanks, this is fixed now I had a bunch of bad settings.

[2020-03-29 17:21] #815 closed

[2020-03-30 18:05] xxyyz opened #818 "almost everything is close to 1E-300"
d must beCloseTo(1E-300, SignificantFigures(15))
isSuccess
for almost any Double d.

Try e.g. d = 1D or d = 1E300, which, I believe, should fail.

Moreover, this is true for any 'target' and 'significantFigures' if their exponents' sum is bigger than ~308.

The root cause is that 'Math.pow(10, (sf.number - o - 1).toDouble))' is Double.Infinity in BeSignificantlyCloseTo (https://github.com/etorrebo

[2020-03-30 20:08] #818 closed

[2020-03-30 20:10] etorreborre commented on #818
Please have a look at this commit: 924aa8b9cc793cd0d88ca0236875513e6297a04e and tell me if the implementation makes sense to you. I took some inspiration from [this SO question](https://stackoverflow.com/questions/7572309/any-neat-way-to-limit-significant-figures-with-bigdecimal) and it turns out that another case was actually wrong in the test suite!

[2020-03-31 11:14] xxyyz commented on #818
Thanks for the very quick fix! I also appreciate the new tests :)
I made some additional tests on my own and the new code seems to work well, according to them.

Will you also fix the docstring in line 71/72? ("x" -> "actual")

Now, as BigDecimal is used anyway internally, an improvement could be to be prepared to work with BigDecimals directly if they are passed to beCloseTo (e.g. like in 'BigDec

[2020-03-31 12:34] bjornbak opened #819 "Random NullPointerException after upgrade to 4.9.2"
Hi,

We upgraded recently from 4.8.3 to 4.9.2 after the upgrade we experience random NullPointerExceptions in the specs2 code.

Here is an example where com.company.package.MySpec is a spec we try to execute:
[code]

It happens for random specs.

[2020-03-31 12:39] etorreborre commented on #819
Thanks for reporting this. Do you need ScalaJS 1.0? If not you can stay on `4.8.3` then until I fix this. If you could create a small reproducible spec in the meantime that would greatly help :-)

[2020-03-31 13:10] bjornbak commented on #819
Reverting but creating a reproducing specs is difficult as it is very random with maybe a couple of occurrences per 100 builds.

[2020-03-31 13:40] etorreborre commented on #819
This might be some classloader issue. We have this that in the past. Hard to diagnose :-(

[2020-04-01 16:36] thatfulvioguy opened #821 "Matchers for http4s Requests and Responses"
http4s-testing has recently been deprecated, and it included [some handy matchers for requests and responses](https://github.com/http4s/http4s/blob/master/testing/src/main/scala/org/http4s/testing/Http4sMatchers.scala) that my team liked to use.

Do you reckon these could have new a home within specs2 in a specs2-http4s module? If so, I'd be happy to work on a PR.

[2020-04-01 16:55] etorreborre commented on #821
I think it would be better to give it its own repository to help with release / dependencies management. The next major version of specs2 which will fully support Dotty will move some of the modules to separate repositories so that we have a `specs2-core` releasable without any dependencies but the standard lib and other modules which can be released when their dependencies are ready. With the new

[2020-04-01 17:35] eyalroth commented on #713
It is impossible to use specs2 in a build that needs JUnit 5 (with the vintage engine). The tests are running _extremely_ slow (profiler says due to reflection "discovery" in the junit engine), and fail with various class-not-found exceptions.

It's more than not supporting JUnit 5's features, but rather this library is _incompatible_ with it. Scalatest for instance, [doesn't support JUnit 5's fea

[2020-04-02 08:43] ivan-klass opened #822 "Fatal errors make test run forever"
While using `org.specs2.mutable.SpecificationWithJUnit` (didn't checking other) fatal errors in tests (like missing jar dependency / incorrect jar version in classpath) make specification run forever, quick debug digging results in a loop within

[org.specs2.execute.ResultExecution#execute](https://github.com/etorreborre/specs2/blob/1acaab5aeeb5a5b0fc307bdcd9e846e690387cf4/common/shared/src/main/s

[2020-04-02 12:19] thatfulvioguy commented on #821
Yes, please! That'd be great :)

[2020-04-02 12:43] etorreborre commented on #821
Done.

[2020-04-03 11:27] #822 closed

[2020-04-03 11:28] etorreborre commented on #822
I think this is fixing the issue. Let's wait on CI to see if the build is green.

[2020-04-04 12:08] etorreborre commented on #788
I can see that you've moved on to more recent versions of specs2 and scalacheck and your test suite seems to be passing reasonably well. So I assume I can close this issue now :-).

[2020-04-04 12:08] #788 closed

[2020-04-04 12:20] Synesso commented on #788
Yes, thank you.

On Sat, 4 Apr 2020 at 22:09, Eric Torreborre <notifications@github.com>
wrote:

[2020-04-04 18:21] tindzk opened #824 "Linking errors with Scala.js 1.0"
I am currently implementing Scala.js 1.0 support in Bloop (https://github.com/scalacenter/bloop/pull/1234) and am getting linking errors after upgrading the Specs2 dependency of the `cross-test-build-scalajs-1.0` test project:

[code]

The problem appears only when Specs2 and uTest are used in the same project. This is surprising since uTest does not depend on Specs2 at all.

The bug is reproducib

[2020-04-05 08:18] etorreborre commented on #824
Hi Tim, unfortunately I don't know what's wrong there. This might be a classloader issue related to [that issue](https://github.com/etorreborre/specs2/issues/819). It is worth asking someone (@eed3si9n ?) working on sbt, they might have more clues than me :-).

[2020-04-05 19:42] eed3si9n commented on #824
The problem still occurs with sbt 1.2.8 it seems, so I don't think it's related to sbt 1.3.x changes (Coursier and ClassLoader layering). If specs2 is available on the classpath and if Scala.JS is failing to link, then I'd guess the problem is in the linker?

[2020-04-06 07:35] etorreborre commented on #824
@eed3si9n should we create an issue on the ScalaJS project then?

[2020-04-06 07:36] etorreborre commented on #713
I need to have a look at that again but unfortunately I have very limited time because I'm trying to focus on migrating to Dotty at the moment.

[2020-04-06 11:56] eed3si9n commented on #824
It's still speculation but yea.

[2020-04-06 19:51] tindzk commented on #824
Thanks for looking into it! I will open an issue on Scala.js' bug tracker.

[2020-04-07 11:03] tindzk commented on #824
As pointed out by @sjrd, the libraries should be specified with `%%%` instead of `%%`. Changing it accordingly resolves the linking errors.

[2020-04-07 11:03] #824 closed

[2020-04-08 11:04] ivan-klass commented on #822
@etorreborre thank you very much, would you mind releasing a minor version with that fix?

[2020-04-08 16:12] etorreborre commented on #822
I just released `4.9.3` with the fix: https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13/4.9.3/

[2020-04-13 07:22] #821 closed

[2020-04-24 17:50] xuwei-k commented on #757
https://github.com/etorreborre/specs2/pull/826 🙏

[2020-04-28 00:27] dkomanov opened #827 "Ability to run same tests with different environments"
I'm trying to rewrite an http service, so what I want is to run same test cases against both services - old and new one, preferably without changing tests itself. The only difference between 2 services is TPC port.

I tried an approach with `map(Fragments)` function, duplicating all fragments and stumbled upon a problem - how to distinguish inside `around`/`aroundContext` method, which service I s

[2020-04-28 06:51] etorreborre commented on #827
Would that work for you?
[code]

[2020-04-28 09:14] dkomanov commented on #827
Of course, but I want to refrain from modifying tests (I have quite a lot, hundreds).

[2020-04-28 09:36] etorreborre commented on #827
Sorry I missed that part :-)

Something like that then?
[code]

[2020-04-28 09:44] dkomanov commented on #827
It's kind of the same - currently I have a common base class for all tests. And I would prefer to write some code in one place instead of modifying 100+ files with copy-paste...

[2020-04-28 09:50] etorreborre commented on #827
In my example above I don't touch `ServiceSpec`. That spec only accesses `Server.getPort`. How is different in your base specification?

Doesn't something like that work?
[code]

[2020-04-28 09:55] dkomanov commented on #827
Now:
[code]

I would like to make change like this:
[code]

[2020-04-28 10:28] etorreborre commented on #827
Maybe this then
[code]

If you use the `RunTwiceSpec` trait instead of the `BaseSpec` trait the spec extending that trait will be executed twice with a different port each time. This only shows up because I'm printing the port during the tests though (with `port.pp`) and not when specification is being built.

[2020-04-28 10:47] dkomanov commented on #827
It works, but the problem is in IntelliJ test cases are indistinguishable - because of the same name.

[2020-04-28 10:48] dkomanov commented on #827
You know what, in this case `mapDescription` actually works!

[2020-04-28 11:37] etorreborre commented on #827
Can you please paste the code with `mapDescription` I actually don't see where you use it :-)

[2020-04-28 11:41] etorreborre commented on #827
Oh, I see, this seems to be lazy enough to put the right port everywhere!
[code]

[2020-04-28 11:41] etorreborre commented on #827
Ok, case closed then?

[2020-04-28 11:48] dkomanov commented on #827
Yes, thank you!

[2020-04-28 11:48] #827 closed

[2020-06-03 07:52] francisdb opened #832 "depending on use setMessage does not work"
specs2 `4.9.4 `

This correctly outputs the message as expected

[code]

this one however does not set the message

[code]

related to https://github.com/etorreborre/specs2/issues/655

[2020-06-03 08:16] francisdb opened #833 "Release notes missing for 4.9.x versions"

[2020-06-03 12:15] eyalroth opened #834 "Extending both BeforeEach and BeforeAfterEach will run `before` twice"
Defining a `before` method in a spec that implements both `BeforeEach` and `BeforeAfterEach` will cause the method to be called **twice** before each test.

[code]

If this is not a bug, then this is a major inconvenience, as it is often that some abstract specs extend `BeforeEach`, and other extend `BeforeAfterEach`, and so extending them together will cause `before` do run twice.

I'd guess this

[2020-06-03 13:01] symbiont-eric-torreborre commented on #832
This is an unfortunate consequence of throwing exceptions in mutable specs by default. I will see if there is a way to fix this but I'm afraid that it might not be possible without some possible API breaks :-(.

[2020-06-03 13:02] etorreborre commented on #832
This is an unfortunate consequence of throwing exceptions in mutable specs by default. I will see if there is a way to fix this but I'm afraid that it might not be possible without some possible API breaks :-(.

[2020-06-03 13:10] francisdb commented on #832
No worries. At least this ticket can guide the user to a solution :-)

[2020-06-03 16:26] etorreborre commented on #832
It is actually fixable for that specific case but harder to do for almost a similar method which is `updateMessage`. I am going to take the conservative approach here and consider that it is better to not complexify or break anything for now.

The fundamental issue is interesting because:

 - this is a problem which does not occur when you don't use exceptions
 - this is a problem which can be pre

[2020-06-03 16:26] #832 closed

[2020-06-08 05:32] #834 closed

[2020-06-08 05:37] etorreborre commented on #834
Thanks for the example. I don't know how to better fix this with the current specs2 implementation but this works:
[code]
I am going to add a note to the documentation to specify that we can only mix traits like `BeforeXXX` with `BeforeXXX` and as soon as you use `BeforeAfterXXX` you need to mix-in this kind of trait only with another `BeforeAfterXXX`. Otherwise the delegation model in specs2 with

[2020-06-08 08:34] eyalroth commented on #834
@etorreborre I understand. In any case, thank you for addressing this :)

[2020-06-21 11:51] etorreborre commented on #833
Thanks for the reminder, I have now uploaded the notes up to [4.10.0](https://github.com/etorreborre/specs2/releases/tag/SPECS2-4.10.0).

[2020-06-21 11:51] #833 closed

[2020-06-21 11:53] etorreborre commented on #721
Just looking at this issue again now :-). Did you have a chance to try what I suggested?

[2020-06-22 19:45] zafarella commented on #721
Sorry, did not had a chance to test it frankly.

[2020-06-23 08:33] etorreborre commented on #721
No problem. I will maybe revisit this subject in the future

[2020-06-23 08:33] #721 closed

[2020-06-23 20:49] symbiont-eric-torreborre commented on #717
@bpholt I just saw this issue again. It is fixed now in [`4.10.0`](https://github.com/etorreborre/specs2/releases/tag/SPECS2-4.10.0)

[2020-07-07 10:59] manish7-thakur opened #840 "Assertion always pass while using default parameters"
Hi,

The assertion always passes no matter what value you assert against when default value is not passed in assertions. e.g The below tests passes but if you provide default value explicitly in assertion, it fails. Tested with latest version buts seems like `3.8.9` also has it.

[code]

Its even more freaking when default parameter is a `Boolean`. The below fails as specs says the actual argument

[2020-07-08 13:25] randm-ch opened #841 "Mocking with fs2.Stream as return type fails with WrongTypeOfReturnValue"
Hi

I've run into the same problem as described in [this StackOverflow question](https://stackoverflow.com/questions/49070901/mocking-a-method-which-returns-an-fs2-stream) in one of my tests.

[code]

This produces `org.mockito.exceptions.misusing.WrongTypeOfReturnValue: Stream cannot be returned by readStream(); readStream() should return FreeC`

[mockito-scala](https://github.com/mockito/mockito

[2020-07-11 14:29] etorreborre commented on #840
I am sorry but I don't have much time at the moment to investigate this kind of issue. The support for Mockito in specs2 is really hacky and I would recommend you to migrate to mockito-scala if you can. The next major specs2 version which is targeting Scala 3 will drop its mockito module in favour of mockito-scala which is supporting Scala and Mockito much better.

[2020-07-11 14:30] etorreborre commented on #841
I am sorry but I don't have much time at the moment to investigate this kind of issue. The support for Mockito in specs2 is really hacky and I would indeed recommend you to migrate to mockito-scala if you can. The next major specs2 version is targeting Scala 3 and will drop its mockito module in favour of mockito-scala since it is supporting Scala and Mockito much better.

[2020-07-15 09:53] manish7-thakur commented on #840
@etorreborre Thanks for the update. I'll use try to use `mockito-scala`, No worries.

[2020-07-15 10:12] islazh opened #843 "IOMatchers implicit values catsEffectTimer and catsEffectContextShift drift into test scope leading to conflicts in implicit value resolution"
Hi,

The implicits `catsEffectTimer` and `catsEffectContextShift` in IOMatchers are drifting into the scope of tests where we would normally provide our own `cats.effect.Timer[IO]` and `cats.effect.ContextShift[IO]`, for example to start up a service to run tests against. We then get a conflict in implicit resolution.

While it's possible for tests to just use these implicit values from `IOMatcher

[2020-07-15 15:00] randm-ch commented on #841
No problem, that should work as well. Thanks!

[2020-07-15 15:00] #841 closed

[2020-07-26 12:39] eyalroth commented on #625
@etorreborre What should be the expected behavior as of 4.3.3? `beforeAll` still seem to fail silently.

[2020-07-26 13:02] symbiont-eric-torreborre commented on #625
I tested as of `4.10.0` which is the latest published version and I get
[code]

[2020-07-26 13:26] eyalroth commented on #625
@etorreborre Seems to fail to work with `sequential`:

[code]

Also, when it does work, it does not print the exception, which is really unfortunate.

[2020-07-26 13:40] symbiont-eric-torreborre commented on #625
This is what I get with `sequential` (and `sbt` not `junit`):
[code]
While without `sequential` I get:
[code]
When you write "it does not print the exception" do you mean with sbt or something else like IntelliJ?

In any case the behaviour should be the same with or without sequential (the test should be skipped) so I will fix that at least.

[2020-07-26 13:48] eyalroth commented on #625
@symbiont-eric-torreborre I'm running with gradle and intellij, and I am seeing anything that goes to stdout / stderr, but not this exception when it's thrown in `beforeAll`.

PS did you just change your username? 😃

[2020-07-26 17:39] etorreborre commented on #625
No, I frequently forget to switch my profile on Github between closed source for work and open source :-)

[2020-07-27 07:05] etorreborre opened #847 "Skip further executions if `beforeAll` throws an exception"
See the comments [here](https://github.com/etorreborre/specs2/issues/625#issuecomment-663988029).

Here is a sample specification:
[code]
It should output
[code]
With or without using `sequential`

[2020-07-27 09:22] #847 closed

[2020-07-27 10:13] etorreborre commented on #847
@eyalroth I fixed the behaviour when `sequential` is used and did a tweak when using IntelliJ in [`4.10.1`](https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13/4.10.1/). Can you please try with Gradle to see if there's some improvement?

[2020-07-27 10:47] eyalroth commented on #847
@etorreborre Seems to be working perfectly. I really appreciate how quickly you addressed and resolved this :)

[2020-07-29 15:36] djspiewak opened #848 "Dotty cross-build"
To be clear, Specs2 actually works just fine using `withDottyCompat`, but doing stuff like that is a bit caveat emptor on downstream users, and it would be nice if it was cross-published to Dotty. Please and thank you? I'll probably try to PR this at some point in the coming months if it isn't seen sooner, but I thought I'd put in the request now.

(as a note: we're planning on doing this for Scal

[2020-07-29 15:44] etorreborre commented on #848
That's my goal for 2020 :-). Unfortunately my open-source time has been eaten by other things (like moving to a different country). I started working towards a version 5 as described in [here](https://medium.com/@etorreborre_99063/becoming-reasonable-361d7f674ee0) and then started a dotty branch in particular to tackle the migration of macros. I would not wish this on my worst enemy :-).

So, at s

[2020-07-29 15:45] etorreborre commented on #848
And BTW, one day I'd like specs2 to be fully Scala 3, including syntax and all, and cross-compile to Scala 2.

[2020-07-29 16:21] djspiewak commented on #848
That would be exceptionally awesome. Though, I would *recommend* you fold that into a specs3, basically. This is kind of the direction Cats is heading, where Cats 2.x will be what it is today, but cross-published for Dotty, and Cats 3.x will be a redesign with Dotty-native typeclass encodings and such, and probably incompatible with Scala 2.

[2020-07-29 16:33] djspiewak commented on #848
Btw, randomly:

I still desperately need the mutable DSL. :-) Like, to me that *is* specs2, and I know almost no one who uses it otherwise. To be clear, I don't like the crazy stateful stuff (e.g. `Given`/`When`/`Then`, and `BeforeAfter` is annoying too), but the mutable construction DSL itself and the fact that `must` throws is exceptionally valuable to me.

I like the rest of what you're proposi

[2020-07-29 16:38] etorreborre commented on #848
That makes sense, thanks for the suggestion. One pain point would be that `specs2` is in the name of the packages so all the specifications will have to be migrated. If people are migrating code to Dotty anyway it might be ok? On the other hand I could stop putting a version number in the name and finally reclaim `specs`. I didn't plan for that piece of software to live for 10+ years :-)

[2020-08-12 10:55] etorreborre opened #852 "Display failed data tables"
At the moment data tables will only be displayed if they are auto-examples (if they don't have an associated description). For instance this specification:
[code]
Will not display the failed data table.

[2020-08-13 10:45] #852 closed

[2020-08-17 17:02] Baztoune opened #854 "any[T] matcher behaviour, using an implicit argument in a separated parameter group"
Hi, I encountered an issue using specs2 and Mockito matchers, in a very specific use case. Basically, I was trying to mock a service method that takes an implicit database session as a 2nd parameter group argument, but also has a default value (`def find(id:Long)(implicit dBSession:DBSession = AutoSession) = ???`).

I tried to reduce it to this minimal reproducible example below. I know that we ca

[2020-08-17 17:06] etorreborre commented on #854
Unfortunately the use of Mockito is very hacky in specs2 since it was originally designed to be used with Scala. These days I recommend people to migrate to (`mockito-scala`)[https://github.com/mockito/mockito-scala/] for that reason.

[2020-08-17 17:10] Baztoune commented on #854
Thank you for your quick answer. I understand that the use of Mockito is hacky. I wasn't even aware of the `mockito-scala` project so I'll have a look, thanks for the advice. Feel free to close the issue if it is not relevant

[2020-08-17 17:20] Baztoune commented on #854
Ah! The issue is discussed on the [mockito-scala Readme](https://github.com/mockito/mockito-scala/#mixing-normal-values-with-argument-matchers)

[code]

[2020-08-17 18:58] etorreborre commented on #854
I see, thanks for investigating. I'm closing this issue then.

[2020-08-17 18:58] #854 closed

[2020-10-05 13:40] najibghadri opened #865 "Usage with rest-assured"
Hello, just a question. We need to do API testing for our scala service, and we also do Unit testing. Since we already use Specs2 we wonder, is it feasible to user Specs with https://rest-assured.io/ ?

[2020-10-05 14:16] etorreborre commented on #865
Hi, possibly you can create an [`AroundEach` trait](https://etorreborre.github.io/specs2/guide/SPECS2-4.0.1/org.specs2.guide.Contexts.html#aroundeach) which will "wrap" each example of a specs2 specification with some code to catch the exceptions thrown by rest-assured (I assume those are standard `AssertException`s) and then convert them to a `specs2` failure (using the `org.specs2.execute.Failur

[2020-10-05 16:07] najibghadri commented on #865
Thanks a lot @etorreborre . We haven't decided yet, if we move forward I will do the demo.

[2020-10-08 14:16] mcintyre94 opened #866 "Equality matcher behaviour is unexpected when comparing case classes that extend exception"
As Scala defines an `equals` method for case classes based on their data fields regardless of what they extend, I can do this in a Scala notebook:

[code]

However in Specs2 the equality matcher seems to be ignoring the case class equality and comparing as a throwable:

[code]

This test fails with:

[code]

I'd expect it to pass because despite being throwable, the comparators are equal by the ca

[2020-10-08 14:58] etorreborre commented on #866
This is a bug introduced by the `Diffable` typeclass. I will fix it and publish a new version. Unfortunately there doesn't seem to be a work-around given the way implicits work (I'm curious to see if that would the same with Scala 3).

[2020-10-09 09:00] #866 closed

[2020-10-09 09:50] mcintyre94 commented on #866
Awesome, thanks for the quick fix! :)

[2020-10-09 10:57] etorreborre commented on #866
The fix is available now in [`specs2-4.10.4`](https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13/4.10.4/)

[2020-10-13 14:41] SethTisue commented on #866
This broke some downstream projects in the community build: https://github.com/scala/community-build/pull/1254

(But perhaps the user code is at fault and the changes are as-intended?)

[2020-10-13 14:53] etorreborre commented on #866
Thanks @SethTisue this seems to be an unexpected effect of that fix. I'm going to investigate those broken cases.
BTW, it's a real pay-off to have a community build here because we can fix issues before they go too far!

[2020-10-14 07:58] etorreborre commented on #866
It turns out that I have been away from Scala for too long. I forgot the difference between `==` and `equals`...

[2020-10-14 10:29] etorreborre commented on #866
Released as [`specs2-4.10.5`](https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13/4.10.5/
)

[2020-11-11 21:47] Sciss opened #877 "Support for Dotty 3.0.0-M1"
Hi there, you may have seen it already; the artifacts of Dotty (Scala) 3.0.0.-M1 have been published, [see blog](https://dotty.epfl.ch/blog/2020/11/09/scala3-m1.html). so it would be great if specs2 could release `_3.0` artifacts as well.

[2020-11-11 22:47] etorreborre commented on #877
Yes I saw that. Unfortunately the compiler is currently choking on my code with something like
[code]
And I haven't had time to investigate yet. Hopefully I can fix / work-around this during this week-end.

[2020-11-12 09:55] etorreborre commented on #877
There was a work-around indeed, so I published specs2 with version `5.0.0-3.0.0-M1-bin-20201029-1f433d5-NIGHTLY`.

I had to use Scala 3.0.0 `3.0.0-M1-bin-20201029-1f433d5-NIGHTLY` because `3.0.0-M1` just doesn't work out of the box.

[2020-11-12 09:55] #877 closed

[2020-11-13 18:50] longliveenduro opened #878 "Very generic error message in Intellij"
I get the following when I run a test in Intellij using Specs 4.10.0:

InvocationTargetException for 'main' in org.specs2.NotifierRunner: null

The test runs in sbt.

I do understand that this is most likely not a bug in Specs2 but probably some kind of sbt, classpath or Intellij import problem, but a more helpful error message would be very nice.

I've simply imported the build.sbt of the project

[2020-11-14 17:50] etorreborre commented on #878
Can you please try the latest version [`specs2-4.10.5`](https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13/4.10.5/)?

[2020-11-14 19:36] longliveenduro commented on #878
Thank you for your reply. I tried the 4.10.5 in the meantime. Same
error message.

On Sat, 14 Nov 2020, 18:50 Eric Torreborre, <notifications@github.com>
wrote:

[2020-11-15 10:33] etorreborre commented on #878
I don't know what to say. Is there a way for you to get a stacktrace?

[2020-11-16 17:04] longliveenduro commented on #878
I've added `@RunWith(classOf[JUnitRunner])`

and then got

`
java.lang.AbstractMethodError: org.specs2.text.Interpolated.scala$util$parsing$combinator$Parsers$$lastNoSuccessVar()Lscala/util/DynamicVariable;
	at scala.util.parsing.combinator.Parsers$NoSuccess.<init>(Parsers.scala:165)
	at scala.util.parsing.combinator.Parsers$Failure.<init>(Parsers.scala:193)
`

Does this help? We are using Scala 2

[2020-11-16 17:15] longliveenduro commented on #878
I took the whole command line and let it run in the console I get the same error, but when I remove the parser combinators 1.0.4 from the classpath, it seems to work.

The problem is now that our build sbt doesn't include the parser-combinators jar. So I do not have a clue how this two different version of the parser combinators come into the classpath of the Specs2 execution.

[2020-11-16 17:18] etorreborre commented on #878
Something else you can try is to use the `-Yrangepos` option:
[code]
This should side-step the problem altogether but only if the compiler works ok with `-Yrangepos` on `2.11.12` which I can't remember.

[2020-11-16 17:45] longliveenduro commented on #878
Using the dependency graph plugin with test:dependencyTree I see this:

[code]

Looks like Scala compiler 2.11.11 pulls in 1.0.4. and 1.1.2. That doesn't make sense to me

[2020-11-16 18:13] etorreborre commented on #878
I think that's because the compiler pulls `1.0.4` but specs2 specifies `1.1.2`: https://github.com/etorreborre/specs2/blob/master/project/depends.scala#L39. Maybe you can try `dependencyOverrides` in sbt: https://stackoverflow.com/questions/36501352/how-to-force-a-specific-version-of-dependency

[2020-11-16 18:14] etorreborre commented on #878
I probably did not catch this issue because I'm always using `-Yrangepos` (and I haven't been using Scala `2.11` for a long time :-))

[2020-11-16 18:25] longliveenduro commented on #878
Ah ok, thank you very much for your help!

[2020-11-16 18:25] #878 closed

[2021-01-14 18:13] xxyyz opened #890 "java.util.NoSuchElementException: None.get -- when creating a matcher for Option[String]"
I have an `Option[String]` with the meaning:
`None` = everything is OK;
`Some(text)` = something is not OK; explanation comes in `text`

I would like to create a matcher for it in the following way:
`def beOK: Matcher[Option[String]] = { x: Option[String] => (x.isEmpty, x.get) }`

This results in the exception "java.util.NoSuchElementException: None.get"

If I change the matcher, then it works:
`d

[2021-01-14 18:34] etorreborre commented on #890
That string is used to output a failure message, like:
[code]

I agree that it would be best to have a byname parameter there and avoid evaluating that string if possible. That being said, in the next specs2 version I'm simplifying the way results are implemented and part of that simplification implies that failure messages will not be lazy. So it's a good habit to make sure that failure messages

[2021-01-14 18:34] #890 closed

[2021-01-18 15:19] melezov opened #892 "Stack overflow (SOF) in Trees.size"
Version: 4.10.5

Running tests which create a dynamic amount of fragments requires that we bump `-Xss` if we do not want to see stack overflows coming from JUnitDescriptions.

I'd like to keeps `-Xss` as close as possible to production settings since bumping the Xss may create blindspots for production.
My current workaround is to provide custom Xss for these particular tests via fork options.

I'

[2021-01-18 16:19] #892 closed

[2021-01-18 16:27] etorreborre commented on #892
I try to fix the issue without actually being able to reproduce it on a small test case. But I have a hunch that my fix should be ok in your case. I'll publish a `4.10.6` for you to try ASAP.

[2021-01-18 18:02] etorreborre commented on #892
`4.10.6` is ready: https://repo1.maven.org/maven2/org/specs2/specs2-core_2.13/4.10.6/

[2021-01-18 22:38] melezov commented on #892
Thank you Eric, I confirm this works beautifully.

[2021-02-08 07:55] nigredo-tori opened #899 "Add Diffable instances for Cats nonempty collections"
These should be trivial to implement based on instances for corresponding stdlib collections.

[2021-02-10 10:13] nigredo-tori opened #900 "CaseClassDiffs._ import only influences the top level of the structure in Scala 2.12"
[Scastie example](https://scastie.scala-lang.org/lL88X1GaSGKeVwBn2B1JTQ).

Consider this code:
[code]
With Scala 2.12 this prints:
[code]
Note that while `Bar` uses a "nice" `Diffable`, `Foo` defaults to the single-line equality check!

There is a workaround. Adding this line:
[code]
fixes the output:
[code]

The issue only arises with Scala 2.12.

[2021-02-10 11:18] etorreborre commented on #899
I'm pretty swamped at the moment but I'd gladly accept a PR :-)

[2021-02-10 11:20] etorreborre commented on #900
Thanks for the report. Implicit resolution with those implicits can be a bit tricky. If it works fine with 2.13, I don't know what we can do except leaving this here as a workaround. On the other hand I have been reworking the case class diff for Scala 3 (since there's a better support for metaprogramming) and I will make sure that this case still works

[2021-04-01 12:55] LLCampos opened #914 "Scaladoc not available"
[Specs2 website](https://etorreborre.github.io/specs2/) link to Scaladocs goes [here](https://etorreborre.github.io/specs2/api/SPECS2-4.10.0/index.html#package). But it currently returns a 404.

[2021-04-02 12:22] etorreborre commented on #914
Thanks for reporting this issue, I've fixed it now.

[2021-04-02 12:22] #914 closed

[2021-04-08 11:48] unkarjedy commented on #347
@etorreborre
Bintray workaround will not work soon:
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/
Are there any plans to republish this special scalaz build somewhere?

[2021-04-08 12:04] etorreborre commented on #347
@unkarjedy can you upgrade to a more recent version of specs2? Since [specs2 4.0.0](https://github.com/etorreborre/specs2/releases/tag/SPECS2-4.0.0) scalaz is not required anymore

[2021-04-08 14:01] unkarjedy commented on #347
@etorreborre
I am asking this not as a specs2 user.
In Scala Plugin we have tests for 3.0.1 integration (among other versions).
In the context of JFrog news, we removed extra resolvers in tests and I noticed this error.
So I am now wondering what is the plans for the 3.0.1 version.
Will it be considered broken?
If yes, then we might just remove the tests.

[2021-04-08 14:06] etorreborre commented on #347
I see. I am not planning on maintaining versions older than 4.x (working on the 5.x series for Scala 3 at the moment) so yes consider the 3.0.1 version outdated.

[2021-04-13 18:47] SethTisue opened #921 "compilation fails on master"
in both 2.12.13 and 2.13.5, `fpJVM/compile` fails with

[code]

this turned up in the Scala community build

[2021-04-13 19:43] SethTisue commented on #848
In sbt 1.5.0, `withDottyCompat` has become `for3Use2_13`.

And as of Scala 3.0.0-RC2 it does still work with specs2. That is, I have seen it working in some particular repos. But note that then you're also pulling in 2.13 dependencies such as scala-xml, which can then lead to problems with conflicting cross-versions.

[2021-04-15 21:49] etorreborre commented on #921
Thanks Seth for the heads-up. I'm still warning on this, I have plenty of new warnings to deal with as well.

[2021-04-16 16:38] etorreborre commented on #921
@SethTisue I fixed the compilation on `master` and took the opportunity to migrate to github actions

[2021-04-16 16:38] #921 closed

[2021-04-19 01:14] SethTisue commented on #921
unfrozen and green again in community build :+1:

[2021-05-19 08:08] LLCampos opened #935 "Improve documentation on how to use specs2 runners"
[Here](https://etorreborre.github.io/specs2/guide/SPECS2-4.10.0/org.specs2.guide.RunInShell.html) are the docs that I think might need some improvements.

First, the commands seem to be wrong? For example, `specs2.files` doesn't exist, it should be `org.specs2.runner.files`?

Another problem I'm hitting is that it is not clear how to send arguments to the runners and which of them are valid. For e

[2021-05-19 20:51] etorreborre commented on #935
I totally agree with you. I started at having a look at this documentation for the next major release but I will give a go at improving the current one

[2021-05-22 12:52] etorreborre commented on #935
I have published a new version, `4.12.0` where:

 - the `specs2.files` object is where it should be
 - I did a pass over [the documentation](https://etorreborre.github.io/specs2/guide/SPECS2-4.12.0/org.specs2.guide.RunInShell.html)
 - there are better diagnostics with `filesrunner.verbose` when searching for specifications to execute
 - the `verbose` option will warn you if there any unrecognized

[2021-05-22 12:52] #935 closed

[2021-05-27 06:32] ittaiz opened #943 "Allow global configuration of number of retries in await"
Hi,
We (Wix) are using specs2 all across our code base (millions of LOC) and we have a flakiness problem (many of the tests call async APIs).
The main problem stems from the fact that CI machines are slower than dev machines and so tests which are ok on dev machines start being flaky on CI from time to time.

We are interested in having a global configuration of the number of retries in await.
Our

[2021-05-27 06:45] etorreborre commented on #943
Hi, if you look at the `Futures` tab on the [Matchers user guide page](https://etorreborre.github.io/specs2/guide/SPECS2-4.12.0/org.specs2.guide.Matchers.html#out-of-the-box), you can see that there is a `timefactor` option for this:
[code]
Can you please try it out and tell me if it works for you?

[2021-06-12 12:26] symbiont-eric-torreborre commented on #943
@ittaiz did you have time to look at this issue?

[2021-06-12 12:27] symbiont-eric-torreborre commented on #819
I'm closing this issue for lack of activity (clearly on my side...)

[2021-06-12 12:31] etorreborre commented on #840
I'm closing this issue since the recommendation is indeed to use `mockito-scala` now

[2021-06-12 12:31] #840 closed

[2021-06-12 12:31] etorreborre commented on #819
I'm closing this issue since it seems to be solved by #824

[2021-06-12 12:31] #819 closed

[2021-06-12 12:32] etorreborre commented on #865
Closing this issue now.

[2021-06-12 12:32] #865 closed

[2021-06-21 12:21] etorreborre commented on #943
Please re-open this issue if you can't make it work

[2021-06-21 12:21] #943 closed

[2021-06-24 13:59] LLCampos opened #956 "Unexpected behavior of 'ex' option when argument contains parenthesis"
If the argument for `ex` option contains an opening parenthesis (`(`), it doesn't match any test.

Version 4.12.0.

# How to reproduce:

[code]

**No parenthesis :heavy_check_mark:**

```sbt> testOnly *MySpec* -- ex "first test"```

[code]

**With parenthesis :x:**

```sbt> testOnly *MySpec* -- ex "first test (1)"```

[code]

**With only the opening parenthesis :x:**

```sbt> testOnly *MySpec* --

[2021-06-24 14:56] etorreborre commented on #956
That's because specs2 does something which I thought would be more useful. The first thing to know is that the value passed to `ex` is interpreted as a regular expression, `.*<ex value>.*` so that you don't have to type the full name all the time. For example `ex 1` or `ex "first test"` would work.

But if that pattern is not a valid regular expression (i.e. it can't be compiled with `java.util.re

[2021-06-25 07:45] etorreborre commented on #956
This is fixed now in `4.12.2`

[2021-06-25 07:45] #956 closed

[2021-07-05 04:03] ittaiz commented on #943
Hi,
First I want to apologize.
I opened this issue on behalf of a colleague who was supposed to have capacity to take it forward but then got a ton of unexpected stuff so couldn't reply.
I kept expecting he follow up here but I feel some explanation is expected here.
Concretely I'm not sure this flag is good enough for this use case because it will make CI runs longer even when the future is ready

[2021-07-05 07:33] etorreborre commented on #943
That makes sense. Actually that's on me I did not fully understand the request. I added a `retriesFactor` command line parameter to `4.12.3` if you want to try it out.

[2021-07-07 14:46] ittaiz commented on #943
Thanks! Hopefully I'll get someone soon to try it out.
Appreciate your time :)

[2021-07-14 11:04] LLCampos opened #960 "Document `.setMessage`"
No mention of `setMessage` function for matchers seems to be mentioned in the docs:

https://etorreborre.github.io/specs2/guide/5.0.0-ALPHA-03/search.html?q=setMessage

[2021-07-16 07:00] etorreborre commented on #960
The search could be improved (I don't know how yet, I'm using a js library). The `setMessage` function is actually described on this page on [`Expectation Description`](https://etorreborre.github.io/specs2/guide/5.0.0-ALPHA-03/org.specs2.guide.ExpectationDescription.html#enhance-failures-messages)